<div class="wrapper thanks">
  <div class="content sp">
    <div class="text">
      <p class="imn_w"><img src="assets/Images/course/l22.png" alt="logo" /></p>
      <div class="bot_wrap">
        <p class="t_par">Ом, намасте!</p>
      </div>
      <p class="i_smp">
        Благодарим вас за регистрацию!
      </p>
      <p class="i_smp mbb">
        Благодарим вас за регистрацию!
      </p>
      <div class="bny_p">
        <p class="sub_y"> 
          Присоединяйтесь к группе ритуала Ахимса
        </p>
      </div>
      <div class="bny_p mbb">
        <p class="sub_y">Присоединяйтесь к группе ритуала Ахимса</p>
      </div>
      <div class="outer_wrap_cs lss relatives">
        <div class="butt_b_wrap">
          <div class="header-inner header-inner-button boreder grad xl rb">
            <button
              (click)="goToURl('https://t.me/yogisforpeace/19456')"
              class="registration-button rd"
            >
              <img src="assets/Images/course/f3.svg" alt="telegramm" />
              <span>Перейти в группу ахимсы</span>
              <img src="assets/Images/course/f1.svg" alt=">" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>