@font-face {
    font-family: 'Circe';
    src: url('Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
        url('Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('Circe-Light.woff2') format('woff2'),
        url('Circe-Light.woff') format('woff'),
        url('Circe-Light.ttf') format('truetype'),
        url('Circe-Light.svg#Circe-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

