<ngx-ui-loader
  [loaderId]="'creation'"
  [fgsType]="'fading-circle'"
></ngx-ui-loader>
<div class="flex main-bg">
  <div class="width_wrap">
    <div class="flex-[0_0_50%] m-bc">
      <div class="header-item-container">
        <div class="flex flex-col mymarg spec">
          <div class="flex flex-row">
            <span class="text-header-main"> МИР </span>
            <span class="text-header-second ml-2">
              МЕЖДУНАРОДНЫЙ <br />
              ТВОРЧЕСКИЙ КОНКУРС
            </span>
          </div>
          <div class="flex">
            <span class="text-header-main"> И ЛЮБОВЬ </span>
          </div>
        </div>
        <div class="flex item-main-back ds_none"></div>
        <p class="text-item cr mb-4">
          Творческий конкурс «Мир и Любовь» — это один из проектов движения
          «Йоги за Мир», мы верим, что за идеями мира, отраженными в творчестве,
          стоит большая трансформирующая сила!
        </p>
        <div class="text-item cr mb-4">
          Эта страница посвящена онлайн выставке с конкурсными работами. В
          конкурсе можно принять участие, отправив свою работу на почту. Про
          условия участия
          <p class="text-item cr mb-4 link" (click)="scrollTo('rules')">
            рассказываем ниже
          </p>
        </div>
        <div class="flex flex-row spec">
          <div
            (click)="goToURl('mailto:contestyogisforpearce@gmail.com')"
            class="flex mx-1"
          >
            <p class="item-img-link">
              <img
                src="https://thumb.tildacdn.com/tild3061-6235-4161-a330-333430626630/-/resize/92x/-/format/webp/19.png"
                alt=""
                class="link-img"
              />
            </p>
          </div>
          <div class="flex mx-1">
            <p
              (click)="goToURl('https://www.instagram.com/yogisforpeace/')"
              class="item-img-link"
            >
              <img
                src="https://thumb.tildacdn.com/tild6231-6236-4063-a261-633532636336/-/resize/92x/-/format/webp/17.png"
                alt=""
                class="link-img"
              />
            </p>
          </div>
          <div class="flex mx-1">
            <p
              (click)="goToURl('https://t.me/yogisforpeace')"
              class="item-img-link"
            >
              <img
                src="assets/Icons/png-transparent-telegram.png"
                alt=""
                class="link-img"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-[0_0_50%] item-main-back md_none"></div>
  </div>
</div>
<div class="wrapper main-bg py-custom">
  <div class="container wide">
    <div class="flex justify-center">
      <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Картины, рисунки</span>
          </ng-template>
          <div id="portraits" class="image-list">
            <ng-container *ngFor="let img of portraits; let i = index">
              <figure
                [ngClass]="'gallery__item--' + i + 'a'"
                class="gallery__item desctop"
              >
                <img
                  class="gallery__img"
                  [src]="img.url"
                  (click)="openPreview(i, 2)"
                />
              </figure>
              <div *ngIf="i % 2 == 0" class="row_items">
                <div class="it fst" *ngIf="i + 1 < portraits.length">
                  <img
                    class="gallery__img"
                    [src]="portraits[i + 1].url"
                    (click)="openPreview(i + 1, 2)"
                  />
                </div>
                <div class="it scd" *ngIf="i + 2 < portraits.length">
                  <img
                    class="gallery__img"
                    [src]="portraits[i + 2].url"
                    (click)="openPreview(i + 2, 2)"
                  />
                </div>
              </div>
            </ng-container>
          </div>
          <div class="preview-container">
            <div class="overlay"></div>
            <div class="preview">
              <img class="preview-image" src="" />
            </div>
            <div class="close-button" (click)="closePreview()">&times;</div>
            <div class="prev-button" (click)="showPrevImage(2)">&lt;</div>
            <div class="next-button" (click)="showNextImage(2)">&gt;</div>
            <div class="preview_text">
              <p class="preview-t">{{ currentPortraitsText }}</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Стихотворения</span>
          </ng-template>
          <ng-container *ngFor="let verse of poetry; let i = index">
            <div *ngIf="i % 2 == 0" class="flex specc">
              <div *ngIf="i + 1 < poetry.length" class="mai_wrp">
                <div class="t257__icon">“</div>
                <div class="t257__wrapper">
                  <div class="t257__text t-text">
                    <p [innerHTML]="poetry[i + 1].text" style="text-align: center"></p>
                  </div>
                  <div class="t257__author t-text" field="authorname">
                    <strong>—</strong> <strong>{{ poetry[i + 1].author }}</strong>
                  </div>
                </div>
              </div>
              <div *ngIf="i + 2 < poetry.length" class="mai_wrp">
                <div class="t257__icon">“</div>
                <div class="t257__wrapper">
                  <div class="t257__text t-text">
                    <p [innerHTML]="poetry[i + 2].text" style="text-align: center"></p>
                  </div>
                  <div class="t257__author t-text" field="authorname">
                    <strong>—</strong> <strong>{{ poetry[i + 2].author }}</strong>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Фотографии</span>
          </ng-template>
          <div id="photo" class="image-list">
            <ng-container *ngFor="let img of photo; let i = index">
              <figure
                [ngClass]="'gallery__item--' + i + 'a'"
                class="gallery__item desctop"
              >
                <img
                  class="gallery__img"
                  [src]="img.url"
                  (click)="openPreview(i, 0)"
                />
              </figure>
              <div *ngIf="i % 2 == 0" class="row_items">
                <div class="it fst" *ngIf="i + 1 < photo.length">
                  <img
                    class="gallery__img"
                    [src]="photo[i + 1].url"
                    (click)="openPreview(i + 1, 0)"
                  />
                </div>
                <div class="it scd" *ngIf="i + 2 < photo.length">
                  <img
                    class="gallery__img"
                    [src]="photo[i + 2].url"
                    (click)="openPreview(i + 2, 0)"
                  />
                </div>
              </div>
            </ng-container>
          </div>
          <div class="preview-container">
            <div class="overlay"></div>
            <div class="preview">
              <img class="preview-image" src="" />
            </div>
            <div class="close-button" (click)="closePreview()">&times;</div>
            <div class="prev-button" (click)="showPrevImage(0)">&lt;</div>
            <div class="next-button" (click)="showNextImage(0)">&gt;</div>
            <div class="preview_text">
              <p class="preview-t">{{ currentPhotoText }}</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Детское творчество</span>
          </ng-template>
          <div id="children" class="image-list">
            <ng-container *ngFor="let img of children; let i = index">
              <figure
                [ngClass]="'gallery__item--' + i + 'a'"
                class="gallery__item desctop"
              >
                <img
                  class="gallery__img"
                  [src]="img.url"
                  (click)="openPreview(i, 1)"
                />
              </figure>
              <div *ngIf="i % 2 == 0" class="row_items">
                <div class="it fst" *ngIf="i + 1 < children.length">
                  <img
                    class="gallery__img"
                    [src]="children[i + 1].url"
                    (click)="openPreview(i + 1, 1)"
                  />
                </div>
                <div class="it scd" *ngIf="i + 2 < children.length">
                  <img
                    class="gallery__img"
                    [src]="children[i + 2].url"
                    (click)="openPreview(i + 2, 1)"
                  />
                </div>
              </div>
            </ng-container>
          </div>
          <div class="preview-container">
            <div class="overlay"></div>
            <div class="preview">
              <img class="preview-image" src="" />
            </div>
            <div class="close-button" (click)="closePreview()">&times;</div>
            <div class="prev-button" (click)="showPrevImage(1)">&lt;</div>
            <div class="next-button" (click)="showNextImage(1)">&gt;</div>
            <div class="preview_text">
              <p class="preview-t">{{ currentChildrenText }}</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Песни</span>
          </ng-template>
          <div class="audio">
            <ng-container *ngFor="let song of songs; let i = index">
              <div *ngIf="i == 0" class="row_items vid fst">
                <div class="its">
                  <audio
                    controls=""
                    autostart="0"
                    autostart="false"
                    name="media"
                  >
                    <source
                      [src]="getSafeVideoUrl(songs[0].url)"
                      type="audio/mpeg"
                    />
                  </audio>
                </div>
                <div class="desct">
                  <p class="d_er">{{ songs[0].description }}</p>
                </div>
              </div>
              <div *ngIf="i % 2 == 0" class="row_items vid">
                <div class="_wrap" *ngIf="i + 1 < songs.length">
                  <div class="its">
                    <audio
                      controls=""
                      autostart="0"
                      autostart="false"
                      name="media"
                    >
                      <source
                        [src]="getSafeVideoUrl(songs[i + 1].url)"
                        type="audio/mpeg"
                      />
                    </audio>
                  </div>
                  <div class="desct">
                    <p class="d_er">{{ songs[i + 1].description }}</p>
                  </div>
                </div>
                <div class="_wrap" *ngIf="i + 2 < songs.length">
                  <div class="its">
                    <audio
                      controls=""
                      autostart="0"
                      autostart="false"
                      name="media"
                    >
                      <source
                        [src]="getSafeVideoUrl(songs[i + 2].url)"
                        type="audio/mpeg"
                      />
                    </audio>
                  </div>
                  <div class="desct">
                    <p class="d_er">{{ songs[i + 2].description }}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Видео</span>
          </ng-template>
          <div class="video_wrap vhw">
            <ng-container *ngFor="let video of videos; let i = index">
              <div *ngIf="i == 0" class="row_items vid fst">
                <div class="its">
                  <iframe
                    width="100%"
                    height="100%"
                    [src]="getSafeVideoUrl(videos[0].url)"
                    title="Review"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe>
                </div>
                <div class="desct">
                  <p class="d_er">{{ videos[0].description }}</p>
                </div>
              </div>
              <div *ngIf="i % 2 == 0" class="row_items vid">
                <div class="_wrap" *ngIf="i + 1 < videos.length">
                  <div class="its">
                    <iframe
                      width="100%"
                      height="100%"
                      [src]="getSafeVideoUrl(videos[i + 1].url)"
                      title="Review"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
                    ></iframe>
                  </div>
                  <div class="desct">
                    <p class="d_er">{{ videos[i + 1].description }}</p>
                  </div>
                </div>
                <div class="_wrap" *ngIf="i + 2 < videos.length">
                  <div class="its">
                    <iframe
                      width="100%"
                      height="100%"
                      [src]="getSafeVideoUrl(videos[i + 2].url)"
                      title="Review"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
                    ></iframe>
                  </div>
                  <div class="desct">
                    <p class="d_er">{{ videos[i + 2].description }}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="wrapper py-custom">
  <div class="container wide flex col_md">
    <div class="wd_half">
      <div class="textsmxl font-bold text-center mt-4">
        Какая цель у конкурса
      </div>
      <div class="main-text mt-8">
        Создавая прекрасные картины, глубокомысленные стихи, красивую
        умиротворяющую музыку, снимая добрые фильмы, показывая в соц. сетях
        фотографии гармонии и любви — привнося позитивное творчество во имя
        воплощения возвышенных идеалов, мы сможем легко
        <b>рассеять все тяжелые настроения внутри на самих.</b>
      </div>
      <div class="main-text mt-4">
        Взрастив мир и любовь в себе, мы сможем наполнить<b>
          позитивными смыслами</b
        >
        наше окружение, а наше окружение — свое окружение, так шаг за шагом
        через наши правильные мысли и действия мы сможем наполнить этот мир
        гармонией, показать его красоту, а главное — напомнить всем о ценности
        самого большого дара — <b>ценности этой жизни</b>.
      </div>
    </div>
    <div class="flex wd_half mg">
      <img (load)="checkImgLoad()" src="assets/Images/tcel.PNG" alt="i" />
    </div>
  </div>
</div>
<div id="rules" class="wrapper main-bg py-custom">
  <div class="flex flex-col container wide">
    <div class="textsmxl text-center mt-4">Правила участия в конкурсе</div>
    <div class="main-text text-center mt-8">
      Правила довольно «условны» и призваны не для того, чтобы ограничить, но
      для того, чтобы «упорядочить» глубокий трансформирующий созидательный
      процесс
    </div>
    <div class="flex col_md pd">
      <div class="md_hf relative">
        <img src="assets/Images/comb.png" alt="i" сlass="rules-img" />
      </div>
      <div class="tbl md_hff">
        <ul>
          <li class="main-text">• Авторская уникальная работа</li>
          <li class="main-text">• Срок подачи работ — до 31 августа</li>
          <li class="main-text">• Возраст участников не ограничен</li>
          <li class="main-text">
            • Видеоролик или песню просим присылать продолжительностью до 5
            минут
          </li>
          <li class="main-text">
            • Вместе с творческой работой мы просим направить краткую информацию
            — ФИО автора, город, возраст, название работы, контактные данные
            (телефон, e-mail) и коротко рассказать о задумке вашей работы
          </li>
          <li class="main-text">
            • Работы принимаются до 1 сентября 2023 года
          </li>
          <li class="main-text">
            • Итоги конкурса — с 1 по 15 сентября 2023 года
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="wrapper py-custom bottm">
  <div class="container wide flex">
    <div class="">
      <div class="textsmxl font-bold text-center mt-4">
        Принять участие в конкурсе
      </div>
      <div class="main-text mt-8 text-center wd">
        Давайте вместе выступим в роли спасателей, сделаем этот мир светлее,
        поможем и другим людям провести внутри себя трансформацию в сторону
        высоких идеалов и ценностей!
      </div>
      <div class="main-text mt-4 text-center">
        Творите для Мира и во имя Мира!
      </div>
      <div class="main-text text-center">Ждем ваши работы на почту</div>
      <div class="flex_d sames">
        <button
          class="bn_gr wide cons"
          (click)="goToURl('mailto:contestyogisforpearce@gmail.com')"
        >
          CONTESTYOGISFORPEARCE@GMAIL.COM
        </button>
      </div>
    </div>
  </div>
</div>
