<div class="flex main-bg">
  <div class="width_wrap">
    <div class="flex-[0_0_50%] m-auto">
      <div class="header-item-container">
        <div class="flex flex-col my-12">
          <div class="flex flex-row">
            <span class="text-header-main"> МИР </span>
            <span class="text-header-second mt-3 ml-2">
              МЕЖДУНАРОДНЫЙ <br />
              ТВОРЧЕСКИЙ КОНКУРС
            </span>
          </div>
          <div class="flex">
            <span class="text-header-main"> И ЛЮБОВЬ </span>
          </div>
        </div>
        <p class="text-item mb-4">
          Творческий конкурс «Мир и Любовь» — это один из проектов движения
          «Йоги за Мир», мы верим, что за идеями мира, отраженными в творчестве,
          стоит большая трансформирующая сила!
        </p>
        <div class="text-item mb-4">
          Эта страница посвящена онлайн выставке с конкурсными работами. В
          конкурсе можно принять участие, отправив свою работу на почту. Про
          условия участия <p class="text-item mb-4 link" (click)="scrollTo('rules')">рассказываем ниже</p>
        </div>
        <div class="flex flex-row">
          <div (click)="goToURl('mailto:contestyogisforpearce@gmail.com')" class="flex mx-1">
            <p class="item-img-link">
              <img
                src="https://thumb.tildacdn.com/tild3061-6235-4161-a330-333430626630/-/resize/92x/-/format/webp/19.png"
                alt=""
                class="link-img"
              />
            </p>
          </div>
          <div class="flex mx-1">
            <p (click)="goToURl('https://www.instagram.com/yogisforpeace/')" class="item-img-link">
              <img
                src="https://thumb.tildacdn.com/tild6231-6236-4063-a261-633532636336/-/resize/92x/-/format/webp/17.png"
                alt=""
                class="link-img"
              />
            </p>
          </div>
          <div class="flex mx-1">
            <p (click)="goToURl('https://t.me/yogisforpeace')" class="item-img-link">
              <img
                src="assets/Icons/png-transparent-telegram.png"
                alt=""
                class="link-img"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-[0_0_50%] item-main-back"></div>
  </div>
</div>
<div class="wrapper main-bg py-16">
  <div class="container">
    <div class="flex justify-center">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Картины, рисунки</span>
          </ng-template>
          <div class="image-list">
            <ng-container *ngFor="let img of portraits; let i = index">
              <figure
                [ngClass]="'gallery__item--' + i + 'a'"
                class="gallery__item"
              >
                <img
                  class="gallery__img"
                  [src]="img"
                  (click)="openPreview(i, 2)"
                />
              </figure>
            </ng-container>
          </div>
          <div class="preview-container">
            <div class="overlay"></div>
            <div class="preview">
              <img class="preview-image" src="" />
            </div>
            <div class="close-button" (click)="closePreview()">&times;</div>
            <div class="prev-button" (click)="showPrevImage(2)">&lt;</div>
            <div class="next-button" (click)="showNextImage(2)">&gt;</div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Стихотвориния</span>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Фотографии</span>
          </ng-template>
          <div class="image-list">
            <ng-container *ngFor="let img of photo; let i = index">
              <figure
                [ngClass]="'gallery__item--' + i + 'a'"
                class="gallery__item"
              >
                <img
                  class="gallery__img"
                  [src]="img"
                  (click)="openPreview(i, 0)"
                />
              </figure>
            </ng-container>
          </div>
          <div class="preview-container">
            <div class="overlay"></div>
            <div class="preview">
              <img class="preview-image" src="" />
            </div>
            <div class="close-button" (click)="closePreview()">&times;</div>
            <div class="prev-button" (click)="showPrevImage(0)">&lt;</div>
            <div class="next-button" (click)="showNextImage(0)">&gt;</div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Детское творчество</span>
          </ng-template>
          <div class="image-list">
            <ng-container *ngFor="let img of children; let i = index">
              <figure
                [ngClass]="'gallery__item--' + i + 'a'"
                class="gallery__item"
              >
                <img
                  class="gallery__img"
                  [src]="img"
                  (click)="openPreview(i, 1)"
                />
              </figure>
            </ng-container>
          </div>
          <div class="preview-container">
            <div class="overlay"></div>
            <div class="preview">
              <img class="preview-image" src="" />
            </div>
            <div class="close-button" (click)="closePreview()">&times;</div>
            <div class="prev-button" (click)="showPrevImage(1)">&lt;</div>
            <div class="next-button" (click)="showNextImage(1)">&gt;</div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Песни</span>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-span">Видео</span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="wrapper py-16">
  <div class="container flex">
    <div class="wd_half">
      <div class="text-4xl font-bold text-center mt-4">
        Какая цель у конкурса
      </div>
      <div class="main-text mt-8">
        Создавая прекрасные картины, глубокомысленные стихи, красивую
        умиротворяющую музыку, снимая добрые фильмы, показывая в соц. сетях
        фотографии гармонии и любви — привнося позитивное творчество во имя
        воплощения возвышенных идеалов, мы сможем легко
        <b>рассеять все тяжелые настроения внутри на самих.</b>
      </div>
      <div class="main-text mt-4">
        Взрастив мир и любовь в себе, мы сможем наполнить<b>
          позитивными смыслами</b
        >
        наше окружение, а наше окружение — свое окружение, так шаг за шагом
        через наши правильные мысли и действия мы сможем наполнить этот мир
        гармонией, показать его красоту, а главное — напомнить всем о ценности
        самого большого дара — <b>ценности этой жизни</b>.
      </div>
    </div>
    <div class="flex wd_half mg">
      <img src="assets/Images/tcel.PNG" alt="i" />
    </div>
  </div>
</div>
<div id="rules" class="wrapper main-bg pt-12 pb-12">
  <div class="flex flex-col container">
    <div class="text-4xl text-center mt-4">Правила участия в конкурсе</div>
    <div class="main-text text-center mt-8">
      Правила довольно «условны» и призваны не для того, чтобы ограничить, но
      для того, <br />
      чтобы «упорядочить» глубокий трансформирующий созидательный процесс
    </div>
    <div class="flex pt-12">
      <div class="md_hf relative">
        <img src="assets/Images/comb.png" alt="i" сlass="rules-img" />
      </div>
      <div class="tbl md_hff">
        <ul>
          <li class="main-text">• Авторская уникальная работа</li>
          <li class="main-text">• Срок подачи работ — до 31 августа</li>
          <li class="main-text">• Возраст участников не ограничен</li>
          <li class="main-text">
            • Видеоролик или песню просим присылать продолжительностью до 5
            минут
          </li>
          <li class="main-text">
            • Вместе с творческой работой мы просим направить краткую информацию
            — ФИО автора, город, возраст, название работы, контактные данные
            (телефон, e-mail) и коротко рассказать о задумке вашей работы
          </li>
          <li class="main-text">
            • Работы принимаются до 1 сентября 2023 года
          </li>
          <li class="main-text">
            • Итоги конкурса — с 1 по 15 сентября 2023 года
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="wrapper py-16">
  <div class="container flex">
    <div class="">
      <div class="text-4xl font-bold text-center mt-4">
        Принять участие в конкурсе
      </div>
      <div class="main-text mt-8 text-center wd">
        Давайте вместе выступим в роли спасателей, сделаем этот мир светлее,
        поможем и другим людям провести внутри себя трансформацию в сторону
        высоких идеалов и ценностей!
      </div>
      <div class="main-text mt-4 text-center">Творите для Мира и во имя Мира!</div>
      <div class="main-text text-center">Ждем ваши работы на почту</div>
      <div class="flex_d sames">
        <button
          class="bn_gr wide cons"
          (click)="goToURl('mailto:contestyogisforpearce@gmail.com')"
        >
          CONTESTYOGISFORPEARCE@GMAIL.COM
        </button>
      </div>
    </div>
  </div>
</div>
