<div class="additional_wrap">
  <div class="main-a_wrap top">
    <div class="l_container">
      <div class="a_header">
        <p class="pce_wrap">
          <img src="assets/Images/log-shimsa.png" alt="logo">
        </p>
      </div>
      <div class="p_text_wrap">
        <p class="m_slog">АХИМСА ВРАТА</p>
        <p class="a_m-text">Практика для умиротворения<br> сердца и ума</p>
        <p class="a_m-text_small">Примите обет ненасилия<br> длительностью на неделю, месяц,<br> год или на всю жизнь
        </p>
        <div>
          <p class="d_wr_a"><span>23</span> число</p>
          <p class="sub_a">каждого месяца – онлайн ритуал</p>
        </div>
      </div>
      <div class="a_butt-wrap">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap_mid">
  <div class="main-a_wrap mid">
    <div class="l_container mid">
      <p class="m_sg">ЧТО ТАКОЕ ОБЕТ АХИМСЫ</p>
      <div class="nd_block_wrap">
        <div class="block_item">
          <div class="video"></div>
        </div>
        <div class="block_item">
          <p class="l_dcr"><b>Обет ахимсы</b> (обет ненасилия) предполагает наше искреннее намерение и желание сделать
            что-то
            хорошее для этого мира. Ведь пока насилие есть внутри нас, оно будет продолжаться и снаружи. Ахимса - это
            принцип, когда мы не причиняем вреда телом, речью, умом. Когда мы принимаем обет, мы сознательно формируем
            принцип - намерение, которому мы будем следовать.</p>
          <p class="t_sry">Истинная помощь миру - установить внутренний мир</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdl">
  <div class="main-a_wrap mdls">
    <div class="l_container b">
      <div class="cub_wrap">
        <div class="cub_item lmn"></div>
        <div class="cub_item mno"></div>
        <div class="cub_item pqw"></div>
      </div>
      <div class="cub_wrap">
        <div class="cub_item flat">
          <p class="tex_item">Этот обет может быть принят последователями абсолютно разных религий, конфессий и даже
            атеистами, так как <br><span>принцип ненасилия -
              это универсальный, общечеловеческий принцип</span></p>
        </div>
        <div class="cub_item wre"></div>
        <div class="cub_item uio"></div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdl">
  <div class="main-a_wrap ddls">
    <div class="l_container b cdf">
      <p class="m_sg g">КТО ПРОВОДИТ РИТУАЛ АХИМСЫ</p>
      <div class="leaders_wrap">
        <div class="leader_wrap">
          <div class="l_plg">
            <img src="assets/Images/advayta.png" alt="photo">
          </div>
          <div class="ld_t_wr">
            <p class="l_titul">Монахиня</p>
            <p class="i_t_name">Адвайтавадини Гири</p>
            <p class="l_titul">традиция Пратьякша Адвайты</p>
          </div>
          <div class="a_butt-wrap flt">
            <button class="bn_gr">ПОДРОБНЕЕ</button>
          </div>
        </div>
        <div class="leader_wrap">
          <div class="l_plg">
            <img src="assets/Images/mahshv.png" alt="photo">
          </div>
          <div class="ld_t_wr">
            <p class="l_titul">Монахиня</p>
            <p class="i_t_name">Махешвари Гири</p>
            <p class="l_titul">традиция Пратьякша Адвайты</p>
          </div>
          <div class="a_butt-wrap flt">
            <button class="bn_gr">ПОДРОБНЕЕ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap ahs">
  <div class="main-a_wrap ddls">
    <div class="l_container ans">
      <p class="m_sg">КАКИЕ МАГИЧЕСКИЕ ПЕРЕМЕНЫ <br>ВАС ОЖИДАЮТ?</p>
      <div class="changes_main_wrap">
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/1.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">Улучшаются судьба
                  <span>и</span> здоровье
                </p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/2.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Увеличивется</span> продолжительность жизни</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/3.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Жизнь становится
                    более</span> гармоничной</p>
              </div>
            </div>
          </div>
          <div class="l_feed_back adq">
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/4.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Вы становитесь более</span> удачливыми, везучими <span>в повседневных
                    делах</span>
                </p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/5.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Увеличивается ваше</span> процветание, благополучие</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/6.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Увеличивается ваша способность</span> управлять реальностью <span>силой
                    мысли</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="l_feed_back adq row">
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/7.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul"><span>Возрастают ваша</span> внутренняя воля, сила <span>и</span> мудрость</p>
            </div>
          </div>
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/8.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul"><span>Вы получаете возможность в следующей жизни иметь</span> счастливую судьбу
                <span>и</span> никогда не страдать</p>
            </div>
          </div>
          <div class="change_line_wrap none">
            <div class="change_plg">
              <img src="assets/Images/ams/9.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul">Увеличение <span>энергии</span> Ахимсы <span>на планете</span></p>
            </div>
          </div>
        </div>
        <div class="l_feed_back adq row mobile">
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/9.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul">Увеличение <span>энергии</span> Ахимсы <span>на планете</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="a_butt-wrap">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
    </div>
  </div>
</div>

<div class="additional_wrap mdl">
  <div class="main-a_wrap ddls">
    <div class="l_container b cdf">
      <p class="m_sg g">ОТЗЫВЫ ТЕХ, КТО УЖЕ ПРИНЯЛ <br>РИТУАЛ АХИМСЫ</p>
      <div class="carousel_line_main_wrap">

      </div>
      <div class="carousel_line_main_wrap">

      </div>
      <div class="a_butt-wrap">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
    </div>
  </div>
</div>
