<div class="additional_wrap">
  <div class="header small">
    <div [ngClass]="{'show': menu}" class="head_wrap">
      <div class="head_in">
        <div class="header-inner flex justify-between items-center">
          <p (click)="menu = false" *ngIf="menu" class="x">x</p>
          <div *ngIf="menu" class="nav-wrapper mobile">
            <div class="sl-nav">
              <ul>
                <li style="display: flex;
                align-items: center;"><b>{{lan}}</b>
                  <img style="margin: 0 5px -5px 5px;" src="assets/Icons/angle-arrow-down.png" alt="down">
                  <div class="triangle"></div>
                  <ul>
                    <li (click)="setLanguage('ua')" class="lil"><i class="sl-flag flag-ua">
                        <div id="ua"></div>
                      </i> <span>ua</span></li>
                    <li (click)="setLanguage('ru')" class="lil"><i class="sl-flag flag-ru">
                        <div id="ru"></div>
                      </i> <span>ru</span></li>
                    <li (click)="setLanguage('en')" class="lil"><i class="sl-flag flag-usa">
                        <div id="usa"></div>
                      </i> <span>en</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="mob_h-wrap">
            <div *ngIf="!menu" class="header-inner header-inner-icon">
              <div class="logo__container-little">
                <img src="assets/Images/log-shimsa.png" alt="logo" class="img img__logo-little" />
              </div>
            </div>
          </div>
          <div [ngClass]="{'show': menu}" class="menu_wrap">
            <div class="w_wrap m_hide">
              <div class="header-inner header-inner-icon add">
                <div class="logo__container-little">
                  <img src="assets/Images/log-shimsa.png" alt="logo" class="img img__logo-little" />
                </div>
              </div>
              <div (click)="scrollTo('ahimsa')" class="header-inner header-inner-text">{{'main.about' | translate}}
              </div>
              <div (click)="scrollTo('speakers')" class="header-inner header-inner-text">{{'main.lead' | translate}}
              </div>
              <div (click)="scrollTo('changes')" class="header-inner header-inner-text">{{'main.changes' | translate}}
              </div>
              <div (click)="scrollTo('feed')" class="header-inner header-inner-text">{{'main.feedback' | translate}}
              </div>
            </div>
            <div class="header-inner header-inner-button">
              <button class="registration-button" (click)="scrollTo('registration')">{{'main.registration' |
                translate}}</button>
            </div>
            <div class="nav-wrapper desktop">
              <div class="sl-nav">
                <ul>
                  <li style="display: flex;
                  align-items: center;"><b>{{lan}}</b>
                    <img style="margin: 0 5px -5px 5px;" src="assets/Icons/angle-arrow-down.png" alt="down">
                    <div class="triangle"></div>
                    <ul>
                      <li (click)="setLanguage('ua')" class="lil"><i class="sl-flag flag-ua">
                          <div id="ua"></div>
                        </i> <span>ua</span></li>
                      <li (click)="setLanguage('ru')" class="lil"><i class="sl-flag flag-ru">
                          <div id="ru"></div>
                        </i> <span>ru</span></li>
                      <li (click)="setLanguage('en')" class="lil"><i class="sl-flag flag-usa">
                          <div id="usa"></div>
                        </i> <span>en</span></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p *ngIf="!menu" (click)="showMenu()" class="burg">
            <img src="assets/Images/burg.svg" alt="burger">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-a_wrap top">
    <div class="l_container">
      <!-- <div class="a_header">
        <p class="pce_wrap">
          <img src="assets/Images/log-shimsa.png" alt="logo">
        </p>
      </div> -->
      <div class="p_text_wrap">
        <div class="t__top">
          <p class="m_slog">{{'main.vrata' | translate}}</p>
          <p class="a_m-text">{{'main.practice' | translate}}<br>{{'main.practice2' | translate}}</p>
          <p class="a_m-text_small">{{'main.accept' | translate}}<br> {{'main.accept2' | translate}}<br>
            {{'main.accept3' | translate}}
          </p>
        </div>
        <div class="t__bottom">
          <p class="d_wr_a"><span>23{{'main.rd' | translate}}</span> {{'main.number' | translate}}</p>
          <p class="sub_a">{{'main.ritual' | translate}}</p>
        </div>
      </div>
      <div (click)="scrollTo('registration')" class="a_butt-wrap nn">
        <button class="bn_gr">{{'main.participate' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap_mid">
  <div id="ahimsa" class="main-a_wrap mid">
    <div class="l_container mid">
      <p class="m_sg">{{'main.what-is' | translate}}</p>
      <div class="nd_block_wrap">
        <!-- <div class="block_item"> -->
        <div class="video">
          <!-- <iframe width="760" height="430" src="https://www.youtube.com/embed/watch?v=nOubh8giCgM&list=PLH8BAGc6LDX1Ywwo--T4Tt8163CIHBQfL&index=6" frameborder="0" allowfullscreen
              class="item-iframe"></iframe> -->

          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nOubh8giCgM"
            title="{{'main.movement' | translate}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="item-iframe"></iframe>
          <!-- <iframe width="760" height="430" src="https://www.youtube.com/embed/NKXKecHauuo" frameborder="0" allowfullscreen
              class="item-iframe"></iframe> -->
        </div>
        <!-- <div class="video"></div> -->
        <!-- </div> -->
        <div class="block_item">
          <p class="l_dcr"><b>{{'main.vow-title' | translate}}</b> {{'main.vow-cont' | translate}}</p>
          <p class="t_sry">{{'main.true-help' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdl">
  <div class="main-a_wrap mdls">
    <div class="l_container b">
      <div class="cub_wrap">
        <div class="cub_item lmn"></div>
        <div class="cub_item mno"></div>
        <div class="cub_item pqw"></div>
      </div>
      <div class="cub_wrap rev">
        <div class="cub_item flat">
          <p class="tex_item">{{'main.acceptance' | translate}} <br><span>{{'main.acceptance1' | translate}}</span></p>
        </div>
        <div class="cub_item wre"></div>
        <div class="cub_item uio"></div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdl">
  <div id="speakers" class="main-a_wrap ddls">
    <div class="l_container b cdf">
      <p class="m_sg g">{{'main.who-leads' | translate}}</p>
      <div class="leaders_wrap">
        <div class="leader_wrap">
          <div class="l_plg">
            <img src="assets/Images/advayta.png" alt="photo">
          </div>
          <div class="ld_t_wr">
            <p class="l_titul">{{'main.mahant' | translate}}</p>
            <p class="i_t_name">{{'main.adv-giri' | translate}}</p>
            <p class="l_titul">{{'main.tradition' | translate}}</p>
          </div>
          <div class="a_butt-wrap flt">
            <!-- (click)="goToURl('https://www.advayta.org/vsemirnaya-obshchina/advaytavadini-giri/')" -->
            <button class="bn_gr" (click)="showFullInfo('a')">{{'main.detls' | translate}}</button>
          </div>
        </div>
        <div class="leader_wrap">
          <div class="l_plg">
            <img src="assets/Images/mahshv.png" alt="photo">
          </div>
          <div class="ld_t_wr">
            <p class="l_titul">{{'main.monk' | translate}}</p>
            <p class="i_t_name">{{'main.mah-giri' | translate}}</p>
            <p class="l_titul">{{'main.tradition' | translate}}</p>
          </div>
          <div class="a_butt-wrap flt">
            <!-- (click)="goToURl('https://www.advayta.org/vsemirnaya-obshchina/makheshvari/')" -->
            <button class="bn_gr" (click)="showFullInfo('b')">{{'main.detls' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap ahs">
  <div id="changes" class="main-a_wrap ddls">
    <div class="l_container ans">
      <p class="m_sg">{{'main.changes1' | translate}} <br>{{'main.changes2' | translate}}</p>
      <div class="changes_main_wrap">
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/1.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">{{'main.fate' | translate}}</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/2.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.increase' | translate}}</span> {{'main.increase2' | translate}}</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/3.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.life' | translate}}</span> {{'main.life2' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="l_feed_back adq">
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/4.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.luck' | translate}}</span> {{'main.luck1' | translate}}
                  <span>{{'main.luck2' | translate}}</span>
                </p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/5.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.bless' | translate}}</span> {{'main.bless2' | translate}}</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/6.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.reality' | translate}}</span> {{'main.reality1' | translate}}
                  <span>{{'main.reality2' | translate}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="l_feed_back adq row">
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/7.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul"><span>{{'main.will' | translate}}</span> {{'main.will2' | translate}}</p>
            </div>
          </div>
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/8.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul"><span>{{'main.possibility' | translate}}</span> {{'main.possibility1' | translate}}
              </p>
            </div>
          </div>
          <div class="change_line_wrap none">
            <div class="change_plg">
              <img src="assets/Images/ams/9.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul">{{'main.energy' | translate}} <span>{{'main.energy1' | translate}}</span></p>
            </div>
          </div>
        </div>
        <div class="l_feed_back adq row mobile">
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/9.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul">{{'main.planet' | translate}} <span>{{'main.planet1' | translate}}</span>
                {{'main.planet2' | translate}} <span>{{'main.energy1' | translate}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div (click)="scrollTo('registration')" class="a_butt-wrap">
        <button class="bn_gr">{{'main.participate' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdlf">
  <div id="feed" class="main-a_wrap">
    <div class="l_container">
      <p class="m_sg g">{{'main.reviews' | translate}} <br>{{'main.reviews2' | translate}}</p>
      <div class="carousel_line_main_wrap bac">
        <div class="tour_slide-wrap">
          <div [ngClass]="{'visible': visible}" class="loading">
            <p class="inmg">
              <img class="round-loading_image" src="assets/Images/loader-bubble-icon.svg" alt="">
            </p>
          </div>
          <p (click)="previous()" class="arrow_w l">
            <img src="assets/Images/left.png" alt="arrow">
          </p>
          <div class="cl_item_wrap">
            <div class="vio_w">
              <p class="v_w">
                <img *ngIf="!play1" class="pl_pl" src="assets/Images/cr/pl.png" alt="play">
                <video width="100%" height="250" [src]=slides[first].path controls></video>
              </p>
            </div>
            <!-- <p class="v_name_c">{{slides[first].name}}</p> -->
            <p class="v_tex_v">{{slides[first].description}}</p>
          </div>
          <div class="cl_item_wrap hide_mid">
            <div class="vio_w">
              <p class="v_w">
                <img *ngIf="!play2" class="pl_pl" src="assets/Images/cr/pl.png" alt="play">
                <video width="100%" height="250" [src]=slides[middle].path controls></video>
              </p>
            </div>
            <!-- <p class="v_name_c">{{slides[middle].name}}</p> -->
            <p class="v_tex_v">{{slides[middle].description}}</p>
          </div>
          <div class="cl_item_wrap hide_mob">
            <div class="vio_w">
              <p class="v_w">
                <img *ngIf="!play3" class="pl_pl" src="assets/Images/cr/pl.png" alt="play">
                <video width="100%" height="250" [src]=slides[last].path controls></video>
              </p>
            </div>
            <!-- <p class="v_name_c">{{slides[last].name}}</p> -->
            <p class="v_tex_v">{{slides[last].description}}</p>
          </div>
          <p (click)="next()" class="arrow_w r">
            <img src="assets/Images/right.png" alt="arrow">
          </p>
        </div>
      </div>
      <div class="carousel_line_main_wrap in">
        <p (click)="previousIm()" class="arrow_w l">
          <img src="assets/Images/left.png" alt="arrow">
        </p>
        <div class="car_line">
          <div class="inst_wrp">
            <div class="in_wr">
              <img [src]=slidesIm[firstIm].path alt="photo">
              <p (click)="goToURl(slidesIm[firstIm].link)" class="abs_link">
                <img src="assets/Images/inst.png" alt="instagram">
              </p>
            </div>
          </div>
          <div class="inst_wrp hide_mid">
            <div class="in_wr">
              <img [src]=slidesIm[middleIm].path alt="photo">
              <p (click)="goToURl(slidesIm[middleIm].link)" class="abs_link">
                <img src="assets/Images/inst.png" alt="instagram">
              </p>
            </div>
          </div>
          <div class="inst_wrp hide_mob">
            <div class="in_wr">
              <img [src]=slidesIm[lastIm].path alt="photo">
              <p (click)="goToURl(slidesIm[lastIm].link)" class="abs_link">
                <img src="assets/Images/inst.png" alt="instagram">
              </p>
            </div>
          </div>
        </div>
        <p (click)="nextIm()" class="arrow_w r">
          <img src="assets/Images/right.png" alt="arrow">
        </p>
      </div>
      <div (click)="scrollTo('registration')" class="a_butt-wrap ot">
        <button class="bn_gr">{{'main.participate' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap ahs step">
  <div class="main-a_wrap ddls">
    <div class="l_container ans">
      <p class="m_sg">{{'main.order' | translate}} <br>{{'main.order1' | translate}}</p>
      <div class="changes_main_wrap">
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/11.png" alt="1">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">
                  <span>{{'main.order2' | translate}}<br>
                    {{'main.order3' | translate}}</span>
                </p>
              </div>
            </div>
            <p class="arr_step">
              <img src="assets/Images/ams/arr_a.png" alt="arrow">
            </p>
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/22.png" alt="2">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.order4' | translate}}<br> <span>{{'main.order5' | translate}}</span>
                    {{'main.order6' | translate}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/33.png" alt="3">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.order7' | translate}}<br> {{'main.order8' | translate}}<br>
                    {{'main.order9' | translate}}</span></p>
              </div>
            </div>
            <p class="arr_step">
              <img src="assets/Images/ams/arr_a.png" alt="arrow">
            </p>
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/44.png" alt="4">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">
                  <span>{{'main.order10' | translate}}<br> {{'main.order11' | translate}}<br> {{'main.order12' |
                    translate}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/55.png" alt="5">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">
                  <span>{{'main.order13' | translate}}<br> {{'main.order14' | translate}}</span>
                </p>
              </div>
            </div>
            <p class="arr_step">
              <img src="assets/Images/ams/arr_a.png" alt="arrow">
            </p>
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/66.png" alt="6">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>{{'main.order15' | translate}}<br> {{'main.order16' | translate}}<br>
                    {{'main.order17' | translate}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="registration" class="l_container reg">
  <div class="container">
    <div class="registration-form flex flex-col">
      <div class="registration-form-title">
        <div class="program-forum-flex flex justify-between">
          <div>
            <p class="m_sg g">{{'main.take-vow' | translate}}</p>
            <p class="l_titul">{{'main.term' | translate}}</p>
            <p style="margin-top: 10px" class="l_titul">{{'main.phone1' | translate}}</p>
            <p class="l_titul fl"><img src="assets/Images/tel.png" alt="telegram"> {{'main.or' | translate}} <img
                src="assets/Images/WhatsApp.png" alt="whatsupp"></p>
          </div>
          <!-- <img src="assets/Images/Star 2.png" alt="" class="img-star" />
          <h2 class="main-title h">Зарегистрироваться на ритуал</h2>
          <img src="assets/Images/Star 2.png" alt="" class="img-star" /> -->
        </div>
      </div>
      <div class="form-registration-form flex justify-between" [formGroup]="form" id="registration-form">
        <input type="text" class="input-form-gold" placeholder="{{'main.name' | translate}}" formControlName="name" />
        <input type="email" class="input-form-gold" placeholder="e-mail" formControlName="email" />
        <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry" [maxLength]="15"
          [phoneValidation]="true" [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National" name="phone"
          formControlName="phone">
        </ngx-intl-tel-input>
        <!-- <input type="text" class="input-form-gold" placeholder="телефон(whatsapp, telegram)" formControlName="phone" /> -->
      </div>
      <div class="registration-form-button flex justify-center items-center">
        <button class="registration-button" (click)="sendRegistrationData()" [disabled]="!form.valid"
          [ngClass]="!form.valid ? 'disabled' : 'enabled'">{{'main.registration' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdlf bottm">
  <div class="main-a_wrap">
    <div class="l_container bottm">
      <!-- <p class="m_sg g">ПРИМИТЕ ОБЕТ<br> АХИМСЫ</p>
      <p class="l_titul">сроком от недели, месяца, года или на всю жизнь</p> -->
      <!-- <div (click)="scrollTo('registration')" class="a_butt-wrap no-m">
        <button class="bn_gr">{{'main.participate' | translate}}</button>
      </div> -->
      <div class="social-items flex d_c">
        <div class="sep_f">
          <div class="flex marg">
            <img class="social-img" src="assets/Icons/world.png" alt="">
            <div class="">
              <div class="links">yogisforpeace.life</div>
            </div>
          </div>
          <div class="flex marg">
            <img class="social-img" src="assets/Icons/world.png" alt="">
            <div class="">
              <div class="links">yogisforpeace.life/en</div>
            </div>
          </div>
          <div class="flex links marg" (click)="goToURl('https://www.instagram.com/yogisforpeace/')">
            <img src="assets/Icons/inst.png" alt="" class="social-img" />
            @yogisforpeace
          </div>
          <div class="flex marg">
            <img src="assets/Icons/tgpng.png" alt="" class="social-img" />
            <div>
              <div class="links" (click)="goToURl('https://t.me/yogisforpeace_life')">yogisforpeace_life</div>
              <!-- (информационный
              канал) -->
            </div>
          </div>
        </div>
        <div class="sep_f">
          <div class="flex marg">
            <img src="assets/Icons/tgpng.png" alt="" class="social-img" />
            <div>
              <div class="links" (click)="goToURl('https://t.me/yogisforpeace')">yogisforpeace
              </div>
              <!-- (чат подсчета
                умиротворяющих практик) -->
            </div>
          </div>
          <div class="flex marg">
            <img src="assets/Icons/v.png" alt="" class="social-img" />
            <div>
              <div class="links">yogisforpeace</div>
            </div>
          </div>
          <div class="flex marg">
            <div class="flex flex-col">
              <div class="flex" (click)="goToURl('https://www.youtube.com/c/Yogisforpeace')">
                <img src="assets/Icons/youtube.png" alt="" class="social-img" />
                <div>
                  <div class="links">Yogisforpeace</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex marg">
            <div class="flex flex-col">
              <div class="flex">
                <img src="assets/Icons/face.png" alt="" class="social-img" />
                <div>
                  <div class="links">worldyogisforpeace</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>