<div class="additional_wrap">
  <div class="header small">
    <div [ngClass]="{'show': menu}" class="head_wrap">
      <div class="head_in">
        <div class="header-inner flex justify-between items-center">
          <p (click)="menu = false" *ngIf="menu" class="x">x</p>
          <div class="mob_h-wrap">
            <div *ngIf="!menu" class="header-inner header-inner-icon">
              <div class="logo__container-little">
                <img src="assets/Images/log-shimsa.png" alt="logo" class="img img__logo-little" />
              </div>
            </div>
          </div>
          <div [ngClass]="{'show': menu}" class="menu_wrap">
            <div class="w_wrap m_hide">
              <div class="header-inner header-inner-icon add">
                <div class="logo__container-little">
                  <img src="assets/Images/log-shimsa.png" alt="logo" class="img img__logo-little" />
                </div>
              </div>
              <div (click)="scrollTo('ahimsa')" class="header-inner header-inner-text">Об Ахимсе</div>
              <div (click)="scrollTo('speakers')" class="header-inner header-inner-text">Кто проводит</div>
              <div (click)="scrollTo('changes')" class="header-inner header-inner-text">Перемены</div>
              <div (click)="scrollTo('feed')" class="header-inner header-inner-text">Отзывы</div>
            </div>
            <div class="header-inner header-inner-button">
              <button class="registration-button" (click)="scrollTo('registration')">Зарегистрироваться</button>
            </div>
          </div>
          <p *ngIf="!menu" (click)="showMenu()" class="burg">
            <img src="assets/Images/burg.svg" alt="burger">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-a_wrap top">
    <div class="l_container">
      <!-- <div class="a_header">
        <p class="pce_wrap">
          <img src="assets/Images/log-shimsa.png" alt="logo">
        </p>
      </div> -->
      <div class="p_text_wrap">
        <div class="t__top">
          <p class="m_slog">АХИМСА ВРАТА</p>
          <p class="a_m-text">Практика для умиротворения<br> сердца и ума</p>
          <p class="a_m-text_small">Примите обет ненасилия<br> длительностью на неделю, месяц,<br> год или на всю жизнь
          </p>
        </div>
        <div class="t__bottom">
          <p class="d_wr_a"><span>23</span> число</p>
          <p class="sub_a">каждого месяца – онлайн ритуал</p>
        </div>
      </div>
      <div (click)="scrollTo('registration')" class="a_butt-wrap nn">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap_mid">
  <div id="ahimsa" class="main-a_wrap mid">
    <div class="l_container mid">
      <p class="m_sg">ЧТО ТАКОЕ ОБЕТ АХИМСЫ</p>
      <div class="nd_block_wrap">
        <!-- <div class="block_item"> -->
        <div class="video">
          <!-- <iframe width="760" height="430" src="https://www.youtube.com/embed/watch?v=nOubh8giCgM&list=PLH8BAGc6LDX1Ywwo--T4Tt8163CIHBQfL&index=6" frameborder="0" allowfullscreen
              class="item-iframe"></iframe> -->

          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nOubh8giCgM" title="Движение Ахимсы"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="item-iframe"></iframe>
          <!-- <iframe width="760" height="430" src="https://www.youtube.com/embed/NKXKecHauuo" frameborder="0" allowfullscreen
              class="item-iframe"></iframe> -->
        </div>
        <!-- <div class="video"></div> -->
        <!-- </div> -->
        <div class="block_item">
          <p class="l_dcr"><b>Обет ахимсы</b> (обет ненасилия) предполагает наше искреннее намерение и желание сделать
            что-то
            хорошее для этого мира. Ведь пока насилие есть внутри нас, оно будет продолжаться и снаружи. Ахимса - это
            принцип, когда мы не причиняем вреда телом, речью, умом. Когда мы принимаем обет, мы сознательно формируем
            принцип - намерение, которому мы будем следовать.</p>
          <p class="t_sry">Истинная помощь миру - установить внутренний мир</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdl">
  <div class="main-a_wrap mdls">
    <div class="l_container b">
      <div class="cub_wrap">
        <div class="cub_item lmn"></div>
        <div class="cub_item mno"></div>
        <div class="cub_item pqw"></div>
      </div>
      <div class="cub_wrap">
        <div class="cub_item flat">
          <p class="tex_item">Этот обет может быть принят последователями абсолютно разных религий, конфессий и даже
            атеистами, так как <br><span>принцип ненасилия -
              это универсальный, общечеловеческий принцип</span></p>
        </div>
        <div class="cub_item wre"></div>
        <div class="cub_item uio"></div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdl">
  <div id="speakers" class="main-a_wrap ddls">
    <div class="l_container b cdf">
      <p class="m_sg g">КТО ПРОВОДИТ РИТУАЛ АХИМСЫ</p>
      <div class="leaders_wrap">
        <div class="leader_wrap">
          <div class="l_plg">
            <img src="assets/Images/advayta.png" alt="photo">
          </div>
          <div class="ld_t_wr">
            <p class="l_titul">Махант</p>
            <p class="i_t_name">Адвайтавадини Гири</p>
            <p class="l_titul">традиция Пратьякша Адвайты</p>
          </div>
          <div class="a_butt-wrap flt">
            <!-- (click)="goToURl('https://www.advayta.org/vsemirnaya-obshchina/advaytavadini-giri/')" -->
            <button class="bn_gr" (click)="showFullInfo('a')">ПОДРОБНЕЕ</button>
          </div>
        </div>
        <div class="leader_wrap">
          <div class="l_plg">
            <img src="assets/Images/mahshv.png" alt="photo">
          </div>
          <div class="ld_t_wr">
            <p class="l_titul">Монахиня</p>
            <p class="i_t_name">Махешвари Гири</p>
            <p class="l_titul">традиция Пратьякша Адвайты</p>
          </div>
          <div class="a_butt-wrap flt">
            <!-- (click)="goToURl('https://www.advayta.org/vsemirnaya-obshchina/makheshvari/')" -->
            <button class="bn_gr" (click)="showFullInfo('b')">ПОДРОБНЕЕ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap ahs">
  <div id="changes" class="main-a_wrap ddls">
    <div class="l_container ans">
      <p class="m_sg">КАКИЕ МАГИЧЕСКИЕ ПЕРЕМЕНЫ <br>ВАС ОЖИДАЮТ?</p>
      <div class="changes_main_wrap">
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/1.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">Улучшаются судьба и здоровье
                </p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/2.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Увеличивется</span> продолжительность жизни</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/3.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Жизнь становится
                    более</span> гармоничной</p>
              </div>
            </div>
          </div>
          <div class="l_feed_back adq">
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/4.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Вы становитесь более</span> удачливыми, везучими <span>в повседневных
                    делах</span>
                </p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/5.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Увеличивается ваше</span> процветание, благополучие</p>
              </div>
            </div>
            <div class="change_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/6.png" alt="photo">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Увеличивается ваша способность</span> управлять реальностью <span>силой
                    мысли</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="l_feed_back adq row">
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/7.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul"><span>Возрастают ваша</span> внутренняя воля, сила и мудрость</p>
            </div>
          </div>
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/8.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul"><span>Вы получаете возможность в следующей жизни иметь</span> счастливую судьбу и
                никогда не страдать
              </p>
            </div>
          </div>
          <div class="change_line_wrap none">
            <div class="change_plg">
              <img src="assets/Images/ams/9.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul">Увеличение энергии Ахимсы <span>на планете</span></p>
            </div>
          </div>
        </div>
        <div class="l_feed_back adq row mobile">
          <div class="change_line_wrap">
            <div class="change_plg">
              <img src="assets/Images/ams/9.png" alt="photo">
            </div>
            <div class="chg_t_wr">
              <p class="chg_titul">Увеличение <span>энергии</span> Ахимсы <span>на планете</span></p>
            </div>
          </div>
        </div>
      </div>
      <div (click)="scrollTo('registration')" class="a_butt-wrap">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdlf">
  <div id="feed" class="main-a_wrap">
    <div class="l_container">
      <p class="m_sg g">ОТЗЫВЫ ТЕХ, КТО УЖЕ ПРИНЯЛ <br>РИТУАЛ АХИМСЫ</p>
      <div class="carousel_line_main_wrap bac">
        <div class="tour_slide-wrap">
          <div [ngClass]="{'visible': visible}" class="loading">
            <p class="inmg">
              <img class="round-loading_image" src="assets/Images/loader-bubble-icon.svg" alt="">
            </p>
          </div>
          <p (click)="previous()" class="arrow_w l">
            <img src="assets/Images/left.png" alt="arrow">
          </p>
          <div class="cl_item_wrap">
            <div class="vio_w">
              <p class="v_w">
                <img *ngIf="!play1" class="pl_pl" src="assets/Images/cr/pl.png" alt="play">
                <video width="100%" height="250" [src]=slides[first].path controls></video>
              </p>
            </div>
            <!-- <p class="v_name_c">{{slides[first].name}}</p> -->
            <p class="v_tex_v">{{slides[first].description}}</p>
          </div>
          <div class="cl_item_wrap hide_mid">
            <div class="vio_w">
              <p class="v_w">
                <img *ngIf="!play2" class="pl_pl" src="assets/Images/cr/pl.png" alt="play">
                <video width="100%" height="250" [src]=slides[middle].path controls></video>
              </p>
            </div>
            <!-- <p class="v_name_c">{{slides[middle].name}}</p> -->
            <p class="v_tex_v">{{slides[middle].description}}</p>
          </div>
          <div class="cl_item_wrap hide_mob">
            <div class="vio_w">
              <p class="v_w">
                <img *ngIf="!play3" class="pl_pl" src="assets/Images/cr/pl.png" alt="play">
                <video width="100%" height="250" [src]=slides[last].path controls></video>
              </p>
            </div>
            <!-- <p class="v_name_c">{{slides[last].name}}</p> -->
            <p class="v_tex_v">{{slides[last].description}}</p>
          </div>
          <p (click)="next()" class="arrow_w r">
            <img src="assets/Images/right.png" alt="arrow">
          </p>
        </div>
      </div>
      <div class="carousel_line_main_wrap in">
        <p (click)="previousIm()" class="arrow_w l">
          <img src="assets/Images/left.png" alt="arrow">
        </p>
        <div class="car_line">
          <div class="inst_wrp">
            <div class="in_wr">
              <img [src]=slidesIm[firstIm].path alt="photo">
              <p (click)="goToURl(slidesIm[firstIm].link)" class="abs_link">
                <img src="assets/Images/inst.png" alt="instagram">
              </p>
            </div>
          </div>
          <div class="inst_wrp hide_mid">
            <div class="in_wr">
              <img [src]=slidesIm[middleIm].path alt="photo">
              <p (click)="goToURl(slidesIm[middleIm].link)" class="abs_link">
                <img src="assets/Images/inst.png" alt="instagram">
              </p>
            </div>
          </div>
          <div class="inst_wrp hide_mob">
            <div class="in_wr">
              <img [src]=slidesIm[lastIm].path alt="photo">
              <p (click)="goToURl(slidesIm[lastIm].link)" class="abs_link">
                <img src="assets/Images/inst.png" alt="instagram">
              </p>
            </div>
          </div>
        </div>
        <p (click)="nextIm()" class="arrow_w r">
          <img src="assets/Images/right.png" alt="arrow">
        </p>
      </div>
      <div (click)="scrollTo('registration')" class="a_butt-wrap ot">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap ahs step">
  <div class="main-a_wrap ddls">
    <div class="l_container ans">
      <p class="m_sg">КАК ПРОИСХОДИТ <br>РИТУАЛ АХИМСА</p>
      <div class="changes_main_wrap">
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/11.png" alt="1">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">
                  <span>Вы регистрируетесь<br>
                    на ритуал</span>
                </p>
              </div>
            </div>
            <p class="arr_step">
              <img src="assets/Images/ams/arr_a.png" alt="arrow">
            </p>
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/22.png" alt="2">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Ознакамливаетесь с<br> <span>принципами</span> ритуала</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/33.png" alt="3">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Присоединяйтесь в<br> группу ритуала в<br> Телеграм</span></p>
              </div>
            </div>
            <p class="arr_step">
              <img src="assets/Images/ams/arr_a.png" alt="arrow">
            </p>
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/44.png" alt="4">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">
                  <span>Вносите свободное<br> пожертвование по<br> сердцу</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col_wrap">
          <div class="l_feed_back adq">
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/55.png" alt="5">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul">
                  <span>Принимаете обет<br> Ахимсы с монахами</span>
                </p>
              </div>
            </div>
            <p class="arr_step">
              <img src="assets/Images/ams/arr_a.png" alt="arrow">
            </p>
            <div class="step_line_wrap">
              <div class="change_plg">
                <img src="assets/Images/ams/66.png" alt="6">
              </div>
              <div class="chg_t_wr">
                <p class="chg_titul"><span>Ваша жизнь обретает<br> новые качества и<br> смыслы</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="registration" class="l_container reg">
  <div class="container">
    <div class="registration-form flex flex-col">
      <div class="registration-form-title">
        <div class="program-forum-flex flex justify-between">
          <div>
            <p class="m_sg g">ПРИМИТЕ ОБЕТ АХИМСЫ</p>
            <p class="l_titul">сроком от недели, месяца, года или на всю жизнь</p>
            <p style="margin-top: 10px" class="l_titul">Укажите пожалуйста телефон к которому прикреплены</p>
            <p class="l_titul fl"><img src="assets/Images/tel.png" alt="telegram"> или <img
                src="assets/Images/WhatsApp.png" alt="whatsupp"></p>
          </div>
          <!-- <img src="assets/Images/Star 2.png" alt="" class="img-star" />
          <h2 class="main-title h">Зарегистрироваться на ритуал</h2>
          <img src="assets/Images/Star 2.png" alt="" class="img-star" /> -->
        </div>
      </div>
      <div class="form-registration-form flex justify-between" [formGroup]="form" id="registration-form">
        <input type="text" class="input-form-gold" placeholder="имя" formControlName="name" />
        <input type="email" class="input-form-gold" placeholder="e-mail" formControlName="email" />
        <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry" [maxLength]="15"
          [phoneValidation]="true" [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National" name="phone"
          formControlName="phone">
        </ngx-intl-tel-input>
        <!-- <input type="text" class="input-form-gold" placeholder="телефон(whatsapp, telegram)" formControlName="phone" /> -->
      </div>
      <div class="registration-form-button flex justify-center items-center">
        <button class="registration-button" (click)="sendRegistrationData()" [disabled]="!form.valid"
          [ngClass]="!form.valid ? 'disabled' : 'enabled'">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>
<div class="additional_wrap mdlf bottm">
  <div class="main-a_wrap">
    <div class="l_container bottm">
      <!-- <p class="m_sg g">ПРИМИТЕ ОБЕТ<br> АХИМСЫ</p>
      <p class="l_titul">сроком от недели, месяца, года или на всю жизнь</p> -->
      <div (click)="scrollTo('registration')" class="a_butt-wrap no-m">
        <button class="bn_gr">ПРИНЯТЬ УЧАСТИЕ</button>
      </div>
      <div class="social-items flex flex-col">
        <div class="flex marg">
          <img class="social-img" src="assets/Icons/world.png" alt="">
          <div class="">
            <div class="links">yogisforpeace.life</div>
          </div>
        </div>
        <div class="flex marg">
          <img class="social-img" src="assets/Icons/world.png" alt="">
          <div class="">
            <div class="links">yogisforpeace.life/en</div>
          </div>
        </div>
        <div class="flex links marg" (click)="goToURl('https://www.instagram.com/yogisforpeace/')">
          <img src="assets/Icons/inst.png" alt="" class="social-img" />
          @yogisforpeace
        </div>
        <div class="flex marg">
          <img src="assets/Icons/tgpng.png" alt="" class="social-img" />
          <div>
            <div class="links" (click)="goToURl('https://t.me/yogisforpeace_life')">yogisforpeace_life</div>
            <!-- (информационный
            канал) -->
          </div>
        </div>
        <div class="flex marg">
          <img src="assets/Icons/tgpng.png" alt="" class="social-img" />
          <div>
            <div class="links" (click)="goToURl('https://t.me/yogisforpeace')">yogisforpeace
            </div>
            <!-- (чат подсчета
              умиротворяющих практик) -->
          </div>
        </div>
        <div class="flex marg">
          <img src="assets/Icons/v.png" alt="" class="social-img" />
          <div>
            <div class="links">yogisforpeace</div>
          </div>
        </div>
        <div class="flex marg">
          <div class="flex flex-col">
            <div class="flex" (click)="goToURl('https://www.youtube.com/c/Yogisforpeace')">
              <img src="assets/Icons/youtube.png" alt="" class="social-img" />
              <div>
                <div class="links">Yogisforpeace</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex marg">
          <div class="flex flex-col">
            <div class="flex">
              <img src="assets/Icons/face.png" alt="" class="social-img" />
              <div>
                <div class="links">worldyogisforpeace</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>