<footer>
  <div class="additional_wrap_footer">
    <div class="main-a_wrap">
      <div class="l_container bottm">
        <div class="social-items flex d_c">
          <div class="sep_f">
            <div [routerLink]="''" class="flex links marg">Главная</div>
            <div [routerLink]="'/ahimsa'" class="flex marg">
              <div>
                <div class="links">Ахимса</div>
              </div>
            </div>
          </div>
          <div class="sep_f">
            <div [routerLink]="'/forum'" class="flex marg">
              <div>
                <div class="links">Форум</div>
              </div>
            </div>
            <div class="flex marg">
              <div [routerLink]="'/second-forum'" class="flex flex-col">
                <div class="flex">
                  <div>
                    <div class="links">Второй Форум</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
