<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det' | translate}}</p>
<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det1' | translate}}</p>
<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det2' | translate}}</p>
<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det3' | translate}}</p>
<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det4' | translate}}</p>
<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det5' | translate}}</p>
<p *ngIf="info == 'a'"> &nbsp;{{'main.a-det6' | translate}}</p>
<p *ngIf="info == 'b'"> &nbsp;{{'main.b-det' | translate}}</p>
<p *ngIf="info == 'b'"> &nbsp;{{'main.b-det1' | translate}}</p>
<p *ngIf="info == 'b'"> &nbsp;{{'main.b-det2' | translate}}</p>