p {
    font-size: 21px;
    line-height: 1.1;
}
::ng-deep.cdk-overlay-pane {
    overflow: auto;
}
@media (max-width: 900px) {
    p {
        font-size: 19px;
    }
}
@media (max-width: 700px) {
    p {
        font-size: 17px;
    }
}