<div class="cs-gen_wrapper">
  <div class="cs_shadow">
    <div class="cs_blank">
      <div class="cs_container main">
        <div class="right_p_cont">
          <div class="cs_head-wrap">
            <div class="flex cs_dq">
              <p class="cs_log">
                <img src="assets/Images/course/logo.png" alt="logo" />
              </p>
              <div class="blue_block_cs menus">
                <p class="head_th">О НАС</p>
                <p class="head_th">ТЕМЫ ИЗУЧЕНИЯ</p>
                <p class="head_th">ОTЗЫВЫ</p>
                <p class="head_th">ФОТО</p>
                <p class="head_th">КАНАЛ НА YOUTUBE</p>
              </div>
            </div>
          </div>
          <div class="cs_top_cont-wrap">
            <div class="cs_left_cont relative">
              <div class="cs_right_cont absolute">
                <div class="flex">
                  <p class="cs_fr">
                    бесплатный месячный онлайн<br />курс-интенсив
                  </p>
                  <div class="couse_st">
                    <p class="srt_tx">
                      Старт курса<br />
                      8 ИЮЛЯ
                    </p>
                  </div>
                </div>
                <p class="titl_lg mg">
                  Ахимса - жизнь<br />
                  без насилия
                </p>
                <p class="cs_t_gn mg">
                  Будьте в гармонии с самим собой и целым миром!
                </p>
                <p class="cs_t_bl mg">
                  • <span>Надоело «насильственно» заставлять себя</span><br />
                  делать то или это?
                </p>
                <p class="cs_t_bl mg">
                  •
                  <span
                    >Не справляетесь с постоянным<br />
                    раздражением </span
                  >даже к самым близким?
                </p>
                <div class="outer_wrap_cs relative lft">
                  <div class="butt_b_wrap">
                    <p class="buttfl">
                      <img
                        src="assets/Images/course/Butterfly.png"
                        alt="butterfly"
                      />
                    </p>
                    <div
                      class="header-inner header-inner-button boreder grad xl"
                    >
                      <button class="registration-button rd">
                        Зарегистрироваться
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <p class="abs_img">
                <img src="assets/Images/course/man_happy.png" alt="happy" />
              </p>
              <p class="abs_img mdd">
                <img src="assets/Images/course/happ_md.png" alt="happy" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank trp">
      <div class="cs_container">
        <div class="contais_wrapp flex">
          <div class="contais-item_wrapp">
            <p class="contais-img">
              <img src="assets/Images/course/choice.png" alt="choice" />
            </p>
            <p class="conts_tx_bc">
              Как часто нам приходится
              <span>делать то, что мы не выбирали</span>, постоянно жить под
              флагом слов <span>«надо»</span> и <span>«вы должны»</span>, а
              <span>не следовать зову сердца</span> - состоянию парения и игры.
            </p>
          </div>
          <div class="contais-item_wrapp">
            <p class="contais-img grt">
              <img src="assets/Images/course/group.png" alt="group" />
            </p>
            <p class="conts_tx_bc">
              Мы каждый день <span>принуждаем себя</span> делать так-то и не
              делать так-то, <span>подчиняться</span> правилам общества, чужим
              давлеющим мнениям, <span>следовать</span>
              чьим-то ожиданиям, забывая о своих мечтах.
            </p>
          </div>
        </div>
        <div class="lin_cs"></div>
        <div class="blue_block_cs transp">
          <p class="cs_dt center">
            <span>Всё это подавляет нашу внутреннюю силу,</span> портит
            настроение, ослабляет здоровье, разрушает отношения – в итоге – у
            нас нет никакого воодушевления жить…
          </p>
        </div>
        <div class="lin_cs"></div>
        <p class="dk_center">Разве это не насилие к себе?</p>
      </div>
    </div>
    <div class="cs_blank">
      <img src="assets/Images/course/stat.png" alt="girl" />
    </div>
    <div class="cs_blank stat relative">
      <div class="cs_container">
        <p class="titl_lg sm">О КУРСЕ</p>
        <div class="blue_block_cs transp mg-12">
          <p class="cs_t_bl mg text-center">
            Мы – движение «Йоги за мир» практикуем ахимсу
            <span class="xdeb">«жизнь без насилия»</span>
            уже множество лет, опираясь на учения Йоги и Веданты, эффективность
            которых проверена тысячелетиями.
          </p>
          <p class="cs_t_bl mg text-center">
            <span class="xdeb">Наш опыт - это жизнь в постоянной практике</span>
            <span class="xde"> и </span> <span class="xdeb">медитации</span>, и
            мы с удовольствием поделимся тем, как «быть в гармонии с собой и
            целым миром».
          </p>
          <div class="video_wrapper">
            <h1>Video</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank waves">
      <div>
        <p class="cs_subhead">Пришло время <span>выбирать</span></p>
        <p class="wei-cs_wrap">
          <img src="assets/Images/course/wei.png" alt="weight" />
        </p>
        <div class="cs_d_wra">
          <p class="cs_tx_tw">
            между постоянным<br />
            насилием
          </p>
          <p class="cs_tx_tw blf">
            и жизнью<br />
            в свободе и радости
          </p>
        </div>
        <div class="craph_tb">
          <div class="row_cs_wrap">
            <div class="cs_block bl_left first_">
              <div class="cs_block_top">
                <p class="sml_wr">
                  <img src="assets/Images/course/sad.png" alt="sad" />
                </p>
                <p class="cs_tx_tw gold no-centr">
                  жизнь в постоянном насилии:
                </p>
              </div>
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Работать или учиться с утра до вечера,</span> потому
                  что такой распорядок.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right first_">
              <div class="cs_block_top">
                <p class="sml_wr">
                  <img src="assets/Images/course/happ.png" alt="happy" />
                </p>
                <p class="cs_tx_tw gold no-centr">Жизнь без насилия:</p>
              </div>
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Сам решаешь,</span> как распределять свое время.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap lit">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Жить в семье из-за обязанностей,</span> чувства
                  приличия или просто привычки.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Спешить возвращаться домой,</span> потому что тебя
                  любят, ценят и понимают.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Ты – самый большой агрессор</span> и критик для себя
                  самомого.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Сам себе – лучший друг.</span> Можешь быть счастливым
                  в любом месте и ситуации, любом возрасте и т.д.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap lit">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Подавлять</span> творческий потенциал других.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Быть вдохновителем</span> и мотиватором людей.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Есть то, что <span>транслируeт реклама.</span>
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Можешь <span>управлять здоровьем</span> и не ходить по
                  врачам.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap lit">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Зарабатывать деньги <span>из под палки.</span>
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Работать и <span>творить с удовольствием.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Злиться на всех и вся</span> – обвинять в своих
                  неудачах правительство, людей, родителей, начальство и т.д.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Быть <span>творцом своей судьбы…</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container">
        <p class="titl_lg smm">на курсе вы научитесь</p>
        <div class="learn_wrapp">
          <p class="le_img">
            <img src="assets/Images/course/dizz.png" alt="madd" />
          </p>
          <p class="dk_cs cap">
            Kак перестать жить<br />
            во внутренних страхах
          </p>
          <p class="le_img">
            <img src="assets/Images/course/arroo.png" alt="madd" />
          </p>
          <p class="dk_cs cap">
            и придти к счастливой <br />
            жизни, в мире и любви
          </p>
        </div>
      </div>
      <div class="craph_tb">
        <div class="cr_wrap-top">
          <p class="tab_head">
            Обучение на курсе:&nbsp;<span>8 июля - 8 августа</span>
          </p>
        </div>
        <div class="cr_wrap-cont">
          <div class="cr_wrap_wrapper blk">
            <p class="cr_wrap-tx">На протяжении 4-х недель вам будут доступны:</p>
          </div>
          <div class="cr_wrap-content">
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                <span>познавательные лекции</span>&nbsp;о том, что такое «жизнь
                в ненасилии»
              </p>
            </div>
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                небольшие&nbsp;<span>практические занятия на день,</span
                >&nbsp;для закрепления полученных знаний
              </p>
            </div>
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                <span>живое общение со спикерами</span>&nbsp;– в формате
                онлайн-конференций
              </p>
            </div>
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                <span>сопровождение и поддержка</span>&nbsp;в чатах курса
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="cs_fr centered">Вход на курс - свободный!</p>
      <div class="outer_wrap_cs lss">
        <div class="butt_b_wrap">
          <div class="header-inner header-inner-button boreder grad xl">
            <button class="registration-button rd">Регистриpуйся сейчас</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="cs_blank">
      <div class="cs_container">
        <div class="blue_block_cs transp mg-2">
          <p class="titl_lg sm mar">Что будет на курсе?</p>
          <p class="dk_cs sm">
            На курсе мы поделимся опытом практики ненасилия (ахимсы) в различных
            сферах жизни, таких как:
          </p>
          <div class="topics_wrapper">
            <div class="topic_cs_wrap">
              <div class="topic_row">
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса <span>к себе</span>»</p>
                </div>
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса <span>в семье</span>»</p>
                </div>
              </div>
            </div>
            <div class="topic_cs_wrap">
              <div class="topic_row">
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса и <span>здоровье</span>»</p>
                </div>
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса и<span> питание</span>»</p>
                </div>
              </div>
            </div>
          </div>
          <div class="topics_wrapper">
            <div class="topic_cs_wrap">
              <div class="topic_row">
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса в <span>бизнесе</span>»</p>
                </div>
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса в <span>военное время</span>»</p>
                </div>
              </div>
            </div>
          </div>
          <div class="outer_wrap_cs relative">
            <div class="butt_b_wrap">
              <p class="buttfl">
                <img src="assets/Images/course/Butterfly.png" alt="butterfly" />
              </p>
              <div class="header-inner header-inner-button boreder grad xl">
                <button class="registration-button rd">участвовать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="cs_blank">
      <div class="cs_container">
        <p class="titl_lg sm">В результате мы обязательно научимся:</p>
      </div>
    </div> -->
  </div>
</div>
