@import "../ahimsa/ahimsa.component.scss";
.cs_shadow {
  max-width: 1640px;
  margin: 0 auto;
  box-shadow: 10px 0px 24px #aba6a6;
  background: url(../../../assets/Images/course/strip2.png);
  background-size: contain;
}
.flex-1-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.ds {
    flex-wrap: unset;
  }
}
.h-260 {
  height: auto;
  margin: 30px auto 0 auto;
  width: 100%;
}
.flex.links {
  display: flex;
  color: #fff;
  align-items: center;
  margin: 0 20px 0 0;
}
.b1-4_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.course {
  .input-form-gold {
    width: 500px;
    height: 70px;
    border-radius: 30px;
  }
}
.formss {
  justify-content: center;
}
ngx-intl-tel-input {
  margin: 0 25px 0 0 !important;
}
.form-registration-form {
  margin: 90px 0 -30px 0;
}
.flex_d {
  display: flex;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.justify-between {
  justify-content: space-between;
}
.cs_dq {
  display: flex;
}
.text-center {
  text-align: center;
}
@media (max-width: 1260px) {
  .flex-1-4.ds {
    flex-direction: column;
    align-items: center;
  }
  .h-260 {
    margin: 10px auto 0 auto;
  }
  .b1-4_wrap {
    width: 830px;
    .flex_t {
      width: 50%;
      margin-bottom: 15px;
    }
  }
}
