<div class="cs-gen_wrapper">
  <div class="cs_shadow">
    <div class="cs_blank">
      <div class="cs_container main">
        <div class="right_p_cont">
          <div class="cs_head-wrap">
            <div class="flex cs_dq">
              <p class="cs_log">
                <img src="assets/Images/course/logo.png" alt="logo" />
              </p>
              <div class="flex flex-col">
                <p class="cs_dt">24 июня - 24 июля</p>
                <p class="cs_fr">бесплатный курс-интенсив</p>
              </div>
            </div>
          </div>
          <div class="cs_top_cont-wrap">
            <div class="cs_left_cont relative">
              <div class="cs_right_cont absolute">
                <p class="titl_lg mg">Ахимса - жизнь без насилия</p>
                <p class="cs_t_gn mg">
                  В гармонии с самим собой и целым миром!
                </p>
                <p class="cs_t_bl mg">
                  <span>Надоело</span> «насильственно» заставлять себя делать то
                  или это?
                </p>
                <p class="cs_t_bl mg">
                  <span>Не справляетесь</span> с постоянным раздражением даже к
                  самым близким?
                </p>
                <p class="cs_t_sec mg">Тогда этот курс для Вас!</p>
              </div>
              <p class="abs_img">
                <img src="assets/Images/course/man_happy.png" alt="happy" />
              </p>
              <div class="outer_wrap_cs absolute">
                <div class="butt_b_wrap">
                  <p class="buttfl">
                    <img
                      src="assets/Images/course/Butterfly.png"
                      alt="butterfly"
                    />
                  </p>
                  <div class="header-inner header-inner-button boreder grad xl">
                    <button class="registration-button rd">
                      присоединяйтесь!
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank trp">
      <div class="cs_container">
        <div class="blue_block_cs">
          <p class="cs_tx_wt bot">
            Как часто нам приходится <span>делать то, что мы не выбирали</span>,
            постоянно жить под флагом слов <span>«надо»</span> и
            <span>«вы должны»</span>, а <span>не следовать зову сердца</span> -
            состоянию парения и игры.
          </p>
          <p class="cs_tx_wt">
            Мы каждый день <span>принуждаем себя</span> делать так-то и не
            делать так-то, <span>подчиняться</span> правилам общества, чужим
            давлеющим мнениям, <span>следовать</span>
            чьим-то ожиданиям, забывая о своих мечтах.
          </p>
        </div>
        <div class="lin_cs"></div>
        <div class="blue_block_cs transp">
          <p class="cs_dt center">
            <span>Всё это подавляет нашу внутреннюю силу,</span> портит
            настроение, ослабляет здоровье, разрушает отношения – в итоге – у
            нас нет никакого воодушевления жить…
          </p>
        </div>
        <div class="lin_cs"></div>
        <p class="dk_center">Разве это не насилие к себе?</p>
        <div class="blue_block_cs">
          <div class="wrap_sn">
            <p class="sign_cs">
              <img src="assets/Images/course/sign.png" alt="sign" />
            </p>
            <p class="cs_tx_wt bot">
              <span
                >А как всем нам сложно строить гармоничные отношения с другими
                людьми</span
              >
              – дома в семье, на работе и в бизнесе, с друзьями и подчиненными,
              соседями и просто незнакомцами, теснящими нас в очереди.
            </p>
          </div>
          <div class="wrap_sn">
            <p class="sign_cs">
              <img src="assets/Images/course/sign.png" alt="sign" />
            </p>
            <p class="cs_tx_wt bot">
              <span>Как перестать постоянно раздражаться и злиться</span>, когда
              наши близкие не проявляют должной заботы, ребенок не учится на
              отлично, начальство не дает приличной зарплаты, любимые не
              понимают нас, а друзьям, как порой кажется, просто нет до нас
              дела…
            </p>
          </div>
          <div class="wrap_sn">
            <p class="sign_cs">
              <img src="assets/Images/course/sign.png" alt="sign" />
            </p>
            <p class="cs_tx_wt bot">
              <span>Как отпустить внутреннего контролера</span>, который
              отбирает всё наше свободное время и внимание, из-за чего мы
              чувствуем усталость и страх и постоянную нехватку времени...
            </p>
          </div>
          <div class="wrap_sn">
            <p class="sign_cs">
              <img src="assets/Images/course/sign.png" alt="sign" />
            </p>
            <p class="cs_tx_wt">
              Как перестать проявлять <span>НАСИЛИЕ</span> в жизни?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank stat"></div>
    <div class="cs_blank waves">
      <div>
        <p class="cs_subhead">Пришло время <span>выбирать</span></p>
        <p class="wei-cs_wrap">
          <img src="assets/Images/course/wei.png" alt="weight" />
        </p>
        <div class="cs_d_wra">
          <p class="cs_tx_tw">
            между постоянным<br />
            насилием
          </p>
          <p class="cs_tx_tw gold">
            и жизнью<br />
            в свободе и радости
          </p>
        </div>
        <div class="craph_tb">
          <div class="row_cs_wrap">
            <div class="cs_block bl_left first_">
              <div class="cs_block_top">
                <p class="sml_wr">
                  <img src="assets/Images/course/sad.png" alt="sad" />
                </p>
                <p class="cs_tx_tw gold no-centr">
                  жизнь в постоянном насилии:
                </p>
              </div>
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Работать или учиться с утра до вечера,</span> потому
                  что такой распорядок.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right first_">
              <div class="cs_block_top">
                <p class="sml_wr">
                  <img src="assets/Images/course/happ.png" alt="happy" />
                </p>
                <p class="cs_tx_tw gold no-centr">Жизнь без насилия:</p>
              </div>
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Сам решаешь,</span> как распределять свое время.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Жить в семье из-за обязанностей,</span> чувства
                  приличия или просто привычки.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Спешить возвращаться домой,</span> потому что тебя
                  любят, ценят и понимают.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Ты – самый большой агрессор</span> и критик для себя
                  самомого.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Сам себе – лучший друг.</span> Можешь быть счастливым
                  в любом месте и ситуации, любом возрасте и т.д...
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Подавлять</span> творческий потенциал других.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Быть вдохновителем</span> и мотиватором людей.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Есть то, что <span>транслируeт реклама.</span>
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Можешь <span>управлять здоровьем</span> и не ходить по
                  врачам.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Зарабатывать деньги <span>из под палки.</span>
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Работать и <span>творить с удовольствием.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Злиться на всех и вся</span> – обвинять в своих
                  неудачах правительство, любей, родителей, начальство и т.д.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Быть <span>творцом своей судьбы…</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container">
        <p class="titl_lg sm">Как это - жить без насилия?</p>
        <div class="blue_block_cs transp mg-12">
          <p class="dk_cs">
            На курсе мы расскажем о том, как перестать жить во внутренних
            страхах и придти к жизни в покое ясности, радости и любви.
          </p>
        </div>
        <div class="lin_cs"></div>
        <div class="blue_block_cs transp mg-12">
          <p class="dk_cs italic">
            Мы знаем эту жизнь на собственном опыте и живем так уже много лет и
            нам есть чем поделиться!
          </p>
        </div>
        <div class="lin_cs"></div>
        <p class="dk_cs sky_">Вход на курс - свободный!</p>
      </div>
      <div class="outer_wrap_cs relative">
        <div class="butt_b_wrap">
          <p class="buttfl">
            <img src="assets/Images/course/Butterfly.png" alt="butterfly" />
          </p>
          <div class="header-inner header-inner-button boreder grad xl">
            <button class="registration-button rd">Регистриуйся сейчас</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container">
        <p class="titl_lg sm">Кто мы?</p>
        <div class="blue_block_cs transp mg-12">
          <p class="dk_cs sm">
            Мы – движение «Йоги за мир» практикуем ахимсы «жизнь без насилия»
            уже множество лет, опираясь на учения Йоги и Веданты, эффективность
            которых проверенна тысячелетиями. Наш опыт - это жизнь в постоянной
            практике осознаности и медитации, проверенные многими годами.
          </p>
          <div class="video_wrapper">
            <h1>Video</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container">
        <div class="blue_block_cs transp mg-2">
          <p class="titl_lg sm mar">Что будет на курсе?</p>
          <p class="dk_cs sm">
            На курсе мы поделимся опытом практики ненасилия (ахимсы) в различных
            сферах жизни, таких как:
          </p>
          <div class="topics_wrapper">
            <div class="topic_cs_wrap">
              <div class="topic_row">
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса <span>к себе</span>»</p>
                </div>
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса <span>в семье</span>»</p>
                </div>
              </div>
            </div>
            <div class="topic_cs_wrap">
              <div class="topic_row">
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса и <span>здоровье</span>»</p>
                </div>
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса и<span> питание</span>»</p>
                </div>
              </div>
            </div>
          </div>
          <div class="topics_wrapper">
            <div class="topic_cs_wrap">
              <div class="topic_row">
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса в <span>бизнесе</span>»</p>
                </div>
                <div class="topic_item">
                  <div class="topic_img">
                    <img src="assets/Images/course/ansd.png" alt="health" />
                  </div>
                  <p class="topic_txt">«Ахимса в <span>военное время</span>»</p>
                </div>
              </div>
            </div>
          </div>
          <div class="outer_wrap_cs relative">
            <div class="butt_b_wrap">
              <p class="buttfl">
                <img src="assets/Images/course/Butterfly.png" alt="butterfly" />
              </p>
              <div class="header-inner header-inner-button boreder grad xl">
                <button class="registration-button rd">участвовать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container">
        <p class="titl_lg sm">В результате мы обязательно научимся:</p>
      </div>
    </div>
  </div>
</div>
