<div class="cs-gen_wrapper">
  <div class="cs_shadow">
    <div class="cs_blank">
      <div class="cs_container main">
        <div class="right_p_cont">
          <div class="cs_head-wrap">
            <div class="flex cs_dq">
              <p class="cs_log">
                <img src="assets/Images/course/logo.png" alt="logo" />
              </p>
              <div class="blue_block_cs menus">
                <p class="head_th">О НАС</p>
                <p class="head_th">ТЕМЫ ИЗУЧЕНИЯ</p>
                <p class="head_th">ОTЗЫВЫ</p>
                <p class="head_th">ФОТО</p>
                <p class="head_th">КАНАЛ НА YOUTUBE</p>
              </div>
            </div>
          </div>
          <div class="cs_top_cont-wrap">
            <div class="cs_left_cont relative">
              <div class="cs_right_cont absolute">
                <div class="flex">
                  <p class="cs_fr">
                    бесплатный месячный онлайн<br />курс-интенсив
                  </p>
                  <div class="couse_st">
                    <p class="srt_tx">
                      Старт курса<br />
                      8 ИЮЛЯ
                    </p>
                  </div>
                </div>
                <p class="titl_lg mg">
                  Ахимса - жизнь<br />
                  без насилия
                </p>
                <p class="cs_t_gn mg">
                  Будьте в гармонии с самим собой и целым миром!
                </p>
                <p class="cs_t_bl mg">
                  • <span>Надоело «насильственно» заставлять себя</span><br />
                  делать то или это?
                </p>
                <p class="cs_t_bl mg">
                  •
                  <span
                    >Не справляетесь с постоянным<br />
                    раздражением </span
                  >даже к самым близким?
                </p>
                <div class="outer_wrap_cs relative lft">
                  <div class="butt_b_wrap">
                    <p class="buttfl">
                      <img
                        src="assets/Images/course/Butterfly.png"
                        alt="butterfly"
                      />
                    </p>
                    <div
                      class="header-inner header-inner-button boreder grad xl"
                    >
                      <button class="registration-button rd">
                        Зарегистрироваться
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <p class="abs_img">
                <img src="assets/Images/course/man_happy.png" alt="happy" />
              </p>
              <p class="abs_img mdd">
                <img src="assets/Images/course/happ_md.png" alt="happy" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank trp">
      <div class="cs_container">
        <div class="contais_wrapp flex">
          <div class="contais-item_wrapp">
            <p class="contais-img">
              <img src="assets/Images/course/choice.png" alt="choice" />
            </p>
            <p class="conts_tx_bc">
              Как часто нам приходится
              <span>делать то, что мы не выбирали</span>, постоянно жить под
              флагом слов <span>«надо»</span> и <span>«вы должны»</span>, а
              <span>не следовать зову сердца</span> - состоянию парения и игры.
            </p>
          </div>
          <div class="contais-item_wrapp">
            <p class="contais-img grt">
              <img src="assets/Images/course/group.png" alt="group" />
            </p>
            <p class="conts_tx_bc">
              Мы каждый день <span>принуждаем себя</span> делать так-то и не
              делать так-то, <span>подчиняться</span> правилам общества, чужим
              давлеющим мнениям, <span>следовать</span>
              чьим-то ожиданиям, забывая о своих мечтах.
            </p>
          </div>
        </div>
        <div class="lin_cs"></div>
        <div class="blue_block_cs transp">
          <p class="cs_dt center">
            <span>Всё это подавляет нашу внутреннюю силу,</span> портит
            настроение, ослабляет здоровье, разрушает отношения – в итоге – у
            нас нет никакого воодушевления жить…
          </p>
        </div>
        <div class="lin_cs"></div>
        <p class="dk_center">Разве это не насилие к себе?</p>
      </div>
    </div>
    <div class="cs_blank">
      <img src="assets/Images/course/stat.png" alt="girl" />
    </div>
    <div class="cs_blank stat relative">
      <div class="cs_container">
        <p class="titl_lg sm">О КУРСЕ</p>
        <div class="blue_block_cs transp mg-12">
          <p class="cs_t_bl mg text-center">
            Мы – движение «Йоги за мир» практикуем ахимсу
            <span class="xdeb">«жизнь без насилия»</span>
            уже множество лет, опираясь на учения Йоги и Веданты, эффективность
            которых проверена тысячелетиями.
          </p>
          <p class="cs_t_bl mg text-center">
            <span class="xdeb">Наш опыт - это жизнь в постоянной практике</span>
            <span class="xde"> и </span> <span class="xdeb">медитации</span>, и
            мы с удовольствием поделимся тем, как «быть в гармонии с собой и
            целым миром».
          </p>
          <div class="video_wrapper">
            <h1>Video</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank waves">
      <div>
        <p class="cs_subhead">Пришло время <span>выбирать</span></p>
        <p class="wei-cs_wrap">
          <img src="assets/Images/course/wei.png" alt="weight" />
        </p>
        <div class="cs_d_wra">
          <p class="cs_tx_tw">
            между постоянным<br />
            насилием
          </p>
          <p class="cs_tx_tw blf">
            и жизнью<br />
            в свободе и радости
          </p>
        </div>
        <div class="craph_tb">
          <div class="row_cs_wrap">
            <div class="cs_block bl_left first_">
              <div class="cs_block_top">
                <p class="sml_wr">
                  <img src="assets/Images/course/sad.png" alt="sad" />
                </p>
                <p class="cs_tx_tw gold no-centr">
                  жизнь в постоянном насилии:
                </p>
              </div>
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Работать или учиться с утра до вечера,</span> потому
                  что такой распорядок.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right first_">
              <div class="cs_block_top">
                <p class="sml_wr">
                  <img src="assets/Images/course/happ.png" alt="happy" />
                </p>
                <p class="cs_tx_tw gold no-centr">Жизнь без насилия:</p>
              </div>
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Сам решаешь,</span> как распределять свое время.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap lit">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Жить в семье из-за обязанностей,</span> чувства
                  приличия или просто привычки.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Спешить возвращаться домой,</span> потому что тебя
                  любят, ценят и понимают.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Ты – самый большой агрессор</span> и критик для себя
                  самомого.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Сам себе – лучший друг.</span> Можешь быть счастливым
                  в любом месте и ситуации, любом возрасте и т.д.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap lit">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Подавлять</span> творческий потенциал других.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Быть вдохновителем</span> и мотиватором людей.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Есть то, что <span>транслируeт реклама.</span>
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Можешь <span>управлять здоровьем</span> и не ходить по
                  врачам.
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap lit">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Зарабатывать деньги <span>из под палки.</span>
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Работать и <span>творить с удовольствием.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row_cs_wrap">
            <div class="cs_block bl_left">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • <span>Злиться на всех и вся</span> – обвинять в своих
                  неудачах правительство, людей, родителей, начальство и т.д.
                </p>
              </div>
            </div>
            <div class="cs_block bl_right">
              <div class="ul_cs_wrap">
                <p class="li_cs_item">
                  • Быть <span>творцом своей судьбы…</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container">
        <p class="titl_lg smm">на курсе вы научитесь</p>
        <div class="learn_wrapp">
          <p class="le_img">
            <img src="assets/Images/course/dizz.png" alt="madd" />
          </p>
          <p class="dk_cs cap">
            Kак перестать жить<br />
            во внутренних страхах
          </p>
          <p class="le_img">
            <img src="assets/Images/course/arroo.png" alt="madd" />
          </p>
          <p class="dk_cs cap">
            и придти к счастливой <br />
            жизни, в мире и любви
          </p>
        </div>
      </div>
      <div class="craph_tb">
        <div class="cr_wrap-top">
          <p class="tab_head">
            Обучение на курсе:&nbsp;<span>8 июля - 8 августа</span>
          </p>
        </div>
        <div class="cr_wrap-cont">
          <div class="cr_wrap_wrapper blk">
            <p class="cr_wrap-tx">
              На протяжении 4-х недель вам будут доступны:
            </p>
          </div>
          <div class="cr_wrap-content">
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                <span>познавательные лекции</span>&nbsp;о том, что такое «жизнь
                в ненасилии»
              </p>
            </div>
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                небольшие&nbsp;<span>практические занятия на день,</span
                >&nbsp;для закрепления полученных знаний
              </p>
            </div>
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                <span>живое общение со спикерами</span>&nbsp;– в формате
                онлайн-конференций
              </p>
            </div>
            <div class="cr_wrap_wrapper">
              <p class="cr_wrap-tx bf">
                <span>сопровождение и поддержка</span>&nbsp;в чатах курса
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="cs_fr centered">Вход на курс - свободный!</p>
      <div class="outer_wrap_cs lss">
        <div class="butt_b_wrap">
          <div class="header-inner header-inner-button boreder grad xl">
            <button class="registration-button rd">Регистриpуйся сейчас</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank sps">
      <div class="cs_container fxw">
        <div class="sps_wrap">
          <p class="titl_lg smm lt">наши спикеры</p>
          <div class="my-slider">
            <div>
              <div class="inert">
                <img src="assets/Images/course/mtg.png" alt="logo" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Matagi,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/course/ar.png" alt="happy" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Aravindini,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/course/gr.png" alt="logo" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span
                    >Махамандалешвар Шри Гуру Свами Вишнудевананда Гири,</span
                  ><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/course/ad.png" alt="happy" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Advaytavadini,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/course/mc.png" alt="logo" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Devanatha,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/mahshv.png" alt="logo" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Maheshvari,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img
                  src="assets/Images/swami-vishnudevananda.jpg"
                  alt="happy"
                />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span
                    >Махамандалешвар Шри Гуру Свами Вишнудевананда Гири,</span
                  ><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/pilot-baba.jpg" alt="logo" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Pilot Baba,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/advayta.png" alt="happy" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Advaytevadini,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
            <div>
              <div class="inert">
                <img src="assets/Images/vishvashaarananda1.jpg" alt="logo" />
              </div>
              <div>
                <p class="sl_m_wrapp">
                  <span>Vishvashaarananda,</span><br />
                  духовный учитель, Украина
                </p>
              </div>
            </div>
          </div>
          <p class="cs_tx_tw lgold">Наши проекты</p>
        </div>
      </div>
      <div class="lin_cs"></div>
      <div class="fw_wdth">
        <div class="proj_wrp">
          <p class="imh_er">
            <img src="assets/Images/course/lot.png" alt="logo" />
          </p>
          <p class="sl_m_wrapp">
            1-й и 2-й Международный онлайн форум "Мир и гармония"
          </p>
        </div>
        <div class="proj_wrp">
          <p class="imh_er">
            <img src="assets/Images/course/unf.png" alt="logo" />
          </p>
          <p class="sl_m_wrapp">
            Междунарожный конгресс мира совместно с Юнифай
          </p>
        </div>
        <div class="proj_wrp">
          <p class="imh_er">
            <img src="assets/Images/course/logo.png" alt="logo" />
          </p>
          <p class="sl_m_wrapp">
            Петиция "21-й век - международный век ненасилия и состарадания"
          </p>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container padd">
        <p class="titl_lg smm">программа курса</p>
        <p class="cs_t_bl mgg text-center">
          Наша жизнь очень многообразна – поэтому мы предлагаем системный,
          целостный и многогранный подход трансформации.
        </p>
        <p class="cs_fr centered m-0">Присоединяйтесь – будет интересно!</p>
        <div class="topics_wrapper">
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(1)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/str.png" alt="health" />
                  </div>
                  <p class="topic_txt">старт <span> курса</span></p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      8<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[1] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[1] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(2)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/ast.png" alt="health" />
                  </div>
                  <p class="topic_txt">
                    <span>Ахимса </span><span class="smal">и</span> астрология
                  </p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      10-12<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[2] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[2] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
        </div>
        <div class="yellw_pl transpr"></div>
        <div class="topics_wrapper">
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(3)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/war.png" alt="health" />
                  </div>
                  <p class="topic_txt"><span> Ахимса</span> в военное время</p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      13-15<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[3] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[3] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(4)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/hlt.png" alt="health" />
                  </div>
                  <p class="topic_txt">
                    <span>Ахимса </span><span class="smal">и</span> здоровье
                  </p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      17-19<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[4] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[4] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(5)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/pit.png" alt="health" />
                  </div>
                  <p class="topic_txt">
                    <span>Ахимса </span><span class="smal">и</span> питание
                  </p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      20-22<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[5] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[5] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
        </div>
        <div class="yellw_pl transpr"></div>
        <div class="topics_wrapper">
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(6)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/fam.png" alt="health" />
                  </div>
                  <p class="topic_txt"><span>Ахимса </span>в семье</p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      24-26<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[6] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[6] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(7)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/pc.png" alt="health" />
                  </div>
                  <p class="topic_txt">
                    <span>Ахимса </span>в воспитании<br />
                    детей
                  </p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      27-29<br />
                      июля
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[7] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[7] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(8)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/chess.png" alt="health" />
                  </div>
                  <p class="topic_txt"><span>Ахимса и</span> лидерство</p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      31 июля-<br />
                      2 августа
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[8] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[8] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
        </div>
        <div class="yellw_pl transpr"></div>
        <div class="topics_wrapper">
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(9)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/natt.png" alt="health" />
                  </div>
                  <p class="topic_txt">
                    <span>Ахимса </span> к себе<br />
                    и другим
                  </p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      3-5<br />
                      августа
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[9] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[9] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(10)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/nat.png" alt="health" />
                  </div>
                  <p class="topic_txt">
                    <span>Ахимса - </span> путь к<br />
                    счастью
                  </p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      7<br />
                      августа
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[10] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[10] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
          <div class="yellw_pl"></div>
          <div class="topic_cs_wrap">
            <div class="topic_row">
              <div (click)="expand(11)" class="topic_item">
                <div class="wrap_dd left">
                  <div class="topic_img">
                    <img src="assets/Images/course/dove.png" alt="health" />
                  </div>
                  <p class="topic_txt"><span>Завершение</span> курса</p>
                </div>
                <div class="wrap_dd right">
                  <div class="sep_rap">
                    <p class="pipe_imgg">
                      <img src="assets/Images/course/pip.png" />
                    </p>
                    <p class="dk_center sma">
                      8<br />
                      августа
                    </p>
                  </div>
                  <p class="arr_imgg">
                    <img
                      [ngClass]="hasExpand[11] ? 'expand' : ''"
                      src="assets/Images/course/arrr.png"
                    />
                  </p>
                </div>
              </div>
              <div
                [ngClass]="hasExpand[11] ? 'expanded' : ''"
                class="more_info"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container sots">
        <p class="titl_lg sm">Этот курс для тех</p>
        <div class="main_sot-cont flex">
          <div class="sots_col-wrp">
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/wep.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                кто <span> переживает </span> тяжелые
                <span>последствия войны</span>
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/strs.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                кто <span> переживает стресс </span>и хотел бы выйти из него
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/hth.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">кто хочет <span>быть здоровым</span></p>
            </div>
          </div>
          <div class="sots_col-wrp">
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/kly.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">у кого<span> есть семья и дети</span></p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/hrt.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                кто <span>устал от "нелюбви"</span>к себе и другим
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/self.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">кого интересует <span>саморазвитие</span></p>
            </div>
          </div>
        </div>
        <div class="outer_wrap_cs lss">
          <div class="butt_b_wrap">
            <div class="header-inner header-inner-button boreder grad xl">
              <button class="registration-button rd">Присоединиться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank rews">
      <div class="cs_container eres">
        <p class="titl_lg smm lt">отзывы</p>
        <p class="titl_eht">
          Движение «Йоги за мир» существует уже больше года и за это время у нас
          накопилось более <span>150 отзывов</span> о нашей деятельности, вот
          некоторые из них:
        </p>
        <div class="res_s">
          <img src="assets/Images/course/res.png" alt="rewiews" />
        </div>
        <p class="titl_eht">
          Также за год мы провели <span>больше 100000 практик</span> и медитаций
          «За мир»
        </p>
      </div>
    </div>
    <div class="cs_blank rewsss">
      <div class="cs_container eres">
        <p class="titl_lg sm">регистрация</p>
        <p class="cs_t_bl mgg text-center">
          Вы можете зарегистрироваться через Телеграм-бот<br />
          или через классическую форму регистрации
        </p>
        <div class="outer_wrap_cs lss relatives">
          <img src="assets/Images/tel.png" alt="talegramm" />
          <div class="butt_b_wrap">
            <div class="header-inner header-inner-button boreder grad xl">
              <button class="registration-button rd">Регистрация</button>
            </div>
          </div>
        </div>
        <div
          class="form-registration-form flex justify-between course"
          [formGroup]="form"
          id="registration-form"
        >
          <div class="flex formss">
            <input
              type="text"
              class="input-form-gold"
              placeholder="{{ 'main.name' | translate }}"
              formControlName="name"
            />
            <input
              type="email"
              class="input-form-gold"
              placeholder="e-mail"
              formControlName="email"
            />
          </div>
          <ngx-intl-tel-input
            [cssClass]="'custom'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name
            ]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="selectedCountry"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [numberFormat]="PhoneNumberFormat.National"
            name="phone"
            formControlName="phone"
          >
          </ngx-intl-tel-input>
        </div>
        <div class="outer_wrap_cs lss">
          <div class="butt_b_wrap">
            <div class="header-inner header-inner-button boreder grad xl">
              <button class="registration-button rd">Зарегистрироваться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_blank">
      <div class="cs_container sots bottom">
        <p class="titl_lg sm">В результате мы получим:</p>
        <div class="main_sot-cont flex">
          <div class="sots_col-wrp">
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/heit.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                <span>развитие </span> сознания, духовный <span>рост</span>
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/bless.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                всеобщее <span>процветание, </span>крепкое
                <span>здоровье и долголетие</span>
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/artt.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                <span>раскрытие </span>всех наших
                <span>творческих способностей</span>
              </p>
            </div>
          </div>
          <div class="sots_col-wrp">
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/qw.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                новые жизнеобеспечивающие <span>изобретения,</span> развитие
                <span> квантовых технологий</span>
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/soty.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                повышение<span> самоорганизации общества</span>
              </p>
            </div>
            <div class="sott">
              <div class="ims_wr">
                <img class="v_chk" src="assets/Images/course/vv.png" alt="v" />
                <img
                  class="wep_wr"
                  src="assets/Images/course/demi.png"
                  alt="pic"
                />
              </div>
              <p class="cs_t_bl">
                <span>переход</span> человечества
                <span>к состоянию Боголюдей</span>
              </p>
            </div>
          </div>
        </div>
        <div class="lin_cs"></div>
        <div class="blue_block_cs transp">
          <p class="cs_dt center">
            <span>Ведь с ненасилия все только начинается!</span><br />
            именно здесь мы обретаем внутреннюю <span>СИЛУ</span>, способную
            изменить мир к лучшему!
          </p>
        </div>
        <div class="lin_cs"></div>
      </div>
    </div>
  </div>
</div>
