<div class="wrapper">

  <!-- <div class="go_back block-text" (click)="goBack()">{{'main.back' | translate}}</div> -->
  <div class="content-container">
    <div class="container-inner">
      <div class="logo__container-little mt-2">
        <img
          src="../../../assets/Logo/logo_MAG.png"
          alt="logo"
          class="img img__logo-little"
        />
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="video">
      <iframe
        width="760"
        height="430"
        src="https://www.youtube.com/embed/x1wj597Ts6g"
        frameborder="0"
        allowfullscreen
        class="item-iframe"
      ></iframe>
    </div>
  </div>
</div>
