<div class="wrapper">

  <!-- <div class="go_back block-text" (click)="goBack()">{{'main.back' | translate}}</div> -->
  <div class="content-container justify-start">
    <div class="container-inner">
      <div class="logo__container-little mt-2">
        <img src="assets/Logo/logo_MAG.png" alt="logo" class="img img__logo-little" />
      </div>
    </div>
    <div class="text flex items-center text-margin log">
      Присоединяйтесь к нам на трансляциях!
    </div>
  </div>
  <div class="content-container">
    <div class="video">
      <iframe width="760" height="430" src="https://www.youtube.com/embed/usJl7oiZPnc" frameborder="0" allowfullscreen
        class="item-iframe"></iframe>
      <!-- <iframe width="760" height="430" src="https://www.youtube.com/embed/NKXKecHauuo" frameborder="0" allowfullscreen
        class="item-iframe"></iframe> -->
    </div>
  </div>
  <div class="content-container ustify-start mt-40">
    <!-- <div class="img-tg"> <img src="assets/Icons/png-transparent-telegram.png" alt="tg"></div>
    <div class="text flex items-center text-margin href-to-tg">
      Задать вопросы участникам Форума вы можете в этом чате : <a href="https://t.me/FORUM_AHIMSA" target="_blank">
        https://t.me/FORUM_AHIMSA</a>
    </div> -->
    <div (click)="goToURl('https://t.me/FORUM_AHIMSA')" class="btn_t_wrap">
      <button class="btn_custom telegram">
        <img src="assets/Images/tel.png" alt="telegram">
        Присоединиться
      </button>
    </div>
    <button (click)="goToURl('https://www.instagram.com/yogisforpeace/')" class="btn_custom instagram">
      <img src="assets/Images/inst.png" alt="instagram">Подписаться</button>
  </div>
  <div class="program-forum">
    <h2 class="main-title">{{'second-forum.title-first' | translate}}</h2>
    <div class="program-forum-flex flex justify-between" id="forum-program">
      <img src="assets/Images/Star 2.png" alt="" class="img-star" />
      <h2 class="main-title">{{'second-forum.schedule' | translate}} {{'second-forum.1st' | translate}}</h2>
      <img src="assets/Images/Star 2.png" alt="" class="img-star" />
    </div>

    <div class="container  flex flex-col">

      <div class="container flex flex-col card">
        <app-master-card [imgUrl]="'swami-vishnudevananda.jpg'" [title]="'masters.guru-title' | translate"
          [name]="'masters.guru' | translate" [tradition]="''" [time]="'12.00, '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/Sadhvi.jpg'" [title]="'masters.sadhvi-title' | translate"
          [name]="'masters.sadhvi' | translate" [tradition]="''"
          [time]="'12.30 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/madukhar.jpg'" [title]="'masters.madukar-title' | translate"
          [name]="'masters.madukar' | translate" [tradition]="''"
          [time]="'13.00 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/hakimov.jpg'" [title]="'masters.shaitania-title' | translate"
          [name]="'masters.shaitania' | translate" [tradition]="''"
          [time]="'13.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/shalesh.jpg'" [title]="'masters.shaleshand-title' | translate"
          [name]="'masters.shaleshand' | translate" [tradition]="''"
          [time]="'14.00 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/alakh.png'" [title]="'masters.niragan-title' | translate"
          [name]="'masters.niragan' | translate" [tradition]="''"
          [time]="'14.30 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/kurovskij.jpg'" [title]="'masters.kurskii-title' | translate"
          [name]="'masters.kurskii' | translate" [tradition]="''"
          [time]="'15.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/photo_2.jpg'" [title]="'masters.shaitaniayoga-title' | translate"
          [name]="'masters.shaitaniayoga' | translate" [tradition]="''"
          [time]="'15.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/balachandra.jpg'" [title]="'masters.doctor-title' | translate"
          [name]="'masters.doctor' | translate" [tradition]="''"
          [time]="'16.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/tulku.JPG'" [title]="'masters.tulku-title' | translate"
          [name]="'masters.tulku' | translate" [tradition]="''"
          [time]="'16.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/nagpalama.jpg'" [title]="'masters.nagpalama-title' | translate"
          [name]="'masters.nagpalama' | translate" [tradition]="''"
          [time]="'17.00 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/samdanlama.jpg'" [title]="'masters.samdanlama-title' | translate"
          [name]="'masters.samdanlama' | translate" [tradition]="''"
          [time]="'17.15 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/paulus.jpg'" [title]="'masters.paulus-title' | translate"
          [name]="'masters.paulus' | translate" [tradition]="''"
          [time]="'17.30 UTC+1 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>
        <app-master-card [imgUrl]="'second-forum/sammasati.jpg'" [title]="'masters.samart-title' | translate"
          [name]="'masters.samart' | translate" [time]="'18.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/rusov.jpg'" [title]="'masters.rusov-title' | translate"
          [name]="'masters.rusov' | translate" [time]="'18.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/kapustin.jpg'" [title]="'masters.kapustin-title' | translate"
          [name]="'masters.kapustin' | translate" [time]="'19.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/starinin.jpg'" [title]="'masters.starinin-title' | translate"
          [name]="'masters.starinin' | translate" [time]="'19.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/pullo.jpg'" [title]="'masters.pullo-title' | translate"
          [name]="'masters.pullo' | translate" [time]="'20.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>
        <app-master-card [imgUrl]="'second-forum/lapshinovjpg.jpg'" [title]="'masters.lapshinov-title' | translate"
          [name]="'masters.lapshinov' | translate" [tradition]=""
          [time]="'20.30 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>
      </div>
    </div>
  </div>
  <div class="program-forum">
    <h2 class="main-title">{{'second-forum.title-sec' | translate}}</h2>
    <div class="program-forum-flex flex justify-between" id="forum-program">
      <img src="assets/Images/Star 2.png" alt="" class="img-star" />
      <h2 class="main-title">{{'second-forum.schedule' | translate}} {{'second-forum.2nd' | translate}}</h2>
      <img src="assets/Images/Star 2.png" alt="" class="img-star" />
    </div>

    <div class="container  flex flex-col">

      <div class="container flex flex-col card">
        <app-master-card [imgUrl]="'swami-vishnudevananda.jpg'" [title]="'masters.guru-title2' | translate"
          [name]="'masters.guru' | translate" [tradition]="''" [time]="'12.00, '+ ('second-forum.prague' | translate)">
        </app-master-card>


        <app-master-card [imgUrl]="'second-forum/madukhar.jpg'" [title]="'masters.madukar-title' | translate"
          [name]="'masters.madukar' | translate" [tradition]="''"
          [time]="'12.30 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>

        <app-master-card [imgUrl]="'second-forum/kurovskij.jpg'" [title]="'masters.kurskii-title2' | translate"
          [name]="'masters.kurskii' | translate" [tradition]="''"
          [time]="'13.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>


        <app-master-card [imgUrl]="'second-forum/balachandra.jpg'" [title]="'masters.doctor-title2' | translate"
          [name]="'masters.doctor' | translate" [tradition]="''"
          [time]="'13.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/tulku.JPG'" [title]="'masters.tulku-title2' | translate"
          [name]="'masters.tulku' | translate" [tradition]="''"
          [time]="'14.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/nagpalama.jpg'" [title]="'masters.nagpalama-title2' | translate"
          [name]="'masters.nagpalama' | translate" [tradition]="''"
          [time]="'14.30 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>



        <!-- <app-master-card [imgUrl]="'second-forum/paulus.jpg'" [title]="'masters.paulus-title' | translate"
          [name]="'masters.paulus' | translate" [tradition]="''"
          [time]="'17.30 UTC+1 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card> -->

        <app-master-card [imgUrl]="'second-forum/sammasati.jpg'" [title]="'masters.samart-title2' | translate"
          [name]="'masters.samart' | translate" [time]="'15.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>
        <app-master-card [imgUrl]="'second-forum/adya.jpg'" [title]="'masters.adya-title' | translate"
          [name]="'masters.adya' | translate" [tradition]="''"
          [time]="'15.30 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>
        <!-- <app-master-card [imgUrl]="'second-forum/rusov.jpg'" [title]="'masters.rusov-title' | translate"
          [name]="'masters.rusov' | translate" [time]="'18.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card> -->

        <!-- <app-master-card [imgUrl]="'second-forum/kapustin.jpg'" [title]="'masters.kapustin-title' | translate"
          [name]="'masters.kapustin' | translate" [time]="'19.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card> -->

        <app-master-card [imgUrl]="'second-forum/starinin.jpg'" [title]="'masters.starinin-title' | translate"
          [name]="'masters.starinin' | translate" [time]="'16.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/pullo.jpg'" [title]="'masters.pullo-title2' | translate"
          [name]="'masters.pullo' | translate" [time]="'16.30 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>
        <app-master-card [imgUrl]="'second-forum/rusov.jpg'" [title]="'masters.rusov-title2' | translate"
          [name]="'masters.rusov' | translate" [time]="'17.00 UTC+1 , '+ ('second-forum.prague' | translate)">
        </app-master-card>

        <app-master-card [imgUrl]="'second-forum/arunadevi.jpg'" [title]="'masters.arunadevi-title' | translate"
        [name]="'masters.arunadevi' | translate" [time]="'17.30 UTC+1 , '+ ('second-forum.prague' | translate)">
      </app-master-card>

        <app-master-card [imgUrl]="'second-forum/lapshinovjpg.jpg'" [title]="'masters.lapshinov-title2' | translate"
          [name]="'masters.lapshinov' | translate" [tradition]=""
          [time]="'17.40 UTC+1 , '+ ('second-forum.prague' | translate)"></app-master-card>
      </div>
    </div>
  </div>
  <div class="support">
    <div class="head-section_wrap">
      <p class="lotus_w"><img src="assets/Images/lotuss.png" alt="lotus"></p>
      <img class="divder" src="assets/Images/divider2.png" alt="line">
      <div class="sup_line-wrap">
        <div class="ln_wr">
          <p class="sup_text">ПОДДЕРЖАТЬ ПРОЕКТ</p>
        </div>
      </div>
    </div>
    <div class="req_wrap">
      <div class="tw_wrap fst">
        <div class="bk_wrap f">
          <p class="b-im_wrap">
            <img src="assets/Images/csob.png" alt="csob">
          </p>
          <p class="b-txt_wrap">
            ČSOB банк Чехии<br>
            5168 3421 1130 2082 VLADYSLAV MORHUNENKO<br>
            Счёт: 305066270/0300<br>
            IBAN: CZ9603000000000305066270<br>
            BIC (SWIFT) CEKOCZPP
          </p>
          <img class="divider_sc" src="assets/Images/divider.png" alt="line">
        </div>
        <div class="bk_wrap s">
          <p class="b-im_wrap">
            <img src="assets/Images/reifeisen.png" alt="raiffeisen">
          </p>
          <p class="b-txt_wrap">
            Raiffeisen Bank<br>
            5168 7207 9303 0214<br>
            VALERII M.<br>
            Счет - 7114761002/5500
          </p>
          <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
        </div>
      </div>
      <div class="tw_wrap scd">
        <div class="bk_wrap">
          <p class="b-im_wrap">
            <img src="assets/Images/tinkoff.png" alt="tinkoff">
          </p>
          <p class="b-txt_wrap">
            Тинькофф<br>
            рубли, доллары, евро<br>
            4377 7237 7959 1126<br>
            SVETLANA RAMAEVA
          </p>
          <img class="divider_sc" src="assets/Images/divider.png" alt="line">
        </div>
        <div class="bk_wrap">
          <p class="b-im_wrap">
            <img src="assets/Images/privat.png" alt="privat">
          </p>
          <p class="b-txt_wrap">
            ПриватБанк (Visa)<br>
            4149 6090 1133 2550<br>
            MOLOFIEIEVA ALONA
          </p>
          <img class="divider_sc sc" src="assets/Images/divider.png" alt="line">
        </div>
      </div>
      <div class="tw_wrap last">
        <div class="bk_wrap">
          <p class="b-im_wrap">
            <img src="assets/Images/paypal.png" alt="paypal">
          </p>
          <p class="b-txt_wrap">
            guru.swamivishnudevanandagiri@gmail.com
          </p>
          <img class="divider_sc" src="assets/Images/divider.png" alt="line">
        </div>
      </div>
    </div>
  </div>
</div>