<div class="main-wrapper">
  <div class="wrapper">
    <div class="header">
      <div class="head_wrap">
        <div class="head_in">
          <div class="header-inner flex justify-between items-center">
            <div class="mob_h-wrap">
              <div class="header-inner header-inner-icon">
                <div class="logo__container-little">
                  <img src="../../../assets/Icons/logo-little.png" alt="logo" class="img img__logo-little" />
                </div>
              </div>
              <div class="w_wrap m_show">
                <div class="header-inner header-inner-text" (click)="scrollTo('div-about-forum')">О форуме</div>
                <div class="header-inner header-inner-text" (click)="scrollTo('forum-program')">Программа и мастера
                </div>
              </div>
            </div>

            <div class="menu_wrap">
              <div class="w_wrap m_hide">
                <div class="header-inner header-inner-text" (click)="scrollTo('div-about-forum')">О форуме</div>
                <div class="header-inner header-inner-text" (click)="scrollTo('forum-program')">Программа и мастера
                </div>
              </div>
              <div class="header-inner header-inner-button">
                <button class="registration-button" (click)="scrollTo('registration-form')">Зарегистрироваться</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content flex">
        <div class="m-wrap">
          <div class="content-title">
            <h2 class="sub-title">I-й Международный онлайн-форум</h2>
            <h1 class="content-title-el">НЕНАСИЛИЕ и ГАРМОНИЯ СЕГОДНЯ</h1>
          </div>
          <div class="content-list">
            <ul>
              <li>Почему на планете пандемии и войны?</li>
              <li>Когда придет мир?</li>
              <li>Как мы можем на это повлиять?</li>
              <li>Как жить счастливо уже сейчас?</li>
            </ul>
          </div>
          <div class="content-dates">
            <div class="flex justify-between col">
              <p>10 июля</p>
              <p>Онлайн</p>
              <p>Участие бесплатно</p>
            </div>
          </div>
          <div class="content-footer-button relative">
            <button class="registration-button registration-button-gold" (click)="scrollTo('forum-program')">
              Программа форума
            </button>
            <div class="flex justify-between stars">
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star margin-r" />
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
            </div>
          </div>
        </div>
        <div class="content-img">
          <img src="../../../assets/Images/bird.png" alt="" class="img-bird" />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper icons-wrapper">
    <div class="container">
      <div class="flex justify-between flex-wrap">
        <div class="ro_wrap">
          <div class="card-icon flex flex-col items-center f">
            <div class="card-icon-img">
              <img src="../../../assets/Icons/01.png" alt="" class="img-card-icon" />
            </div>
            <div class="card-icon-title">8 часов лекций и</div>
            <div class="card-icon-subtitle">вдохновляющих практик</div>
          </div>
          <div class="card-icon flex flex-col items-center">
            <div class="card-icon-img">
              <img src="../../../assets/Icons/02.png" alt="" class="img-card-icon" />
            </div>
            <div class="card-icon-title">1000 участников</div>
            <div class="card-icon-subtitle">со всего мира</div>
          </div>
        </div>
        <div class="ro_wrap">
          <div class="card-icon flex flex-col items-center f">
            <div class="card-icon-img">
              <img src="../../../assets/Icons/03.png" alt="" class="img-card-icon" />
            </div>
            <div class="card-icon-title mt-1">11 духовных<br> учителей</div>
            <!-- <div class="card-icon-subtitle mt-1">высочайшего уровня</div> -->
          </div>
          <div class="card-icon flex flex-col items-center">
            <div class="card-icon-img">
              <img src="../../../assets/Icons/04.png" alt="" class="img-card-icon" />
            </div>
            <div class="card-icon-title">Всемирная</div>
            <div class="card-icon-subtitle">медитация Любви</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="about-forum flex justify-between" id="div-about-forum">
      <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
      <h2 class="main-title">О форуме</h2>
      <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
    </div>

    <div class="item flex image-and-text">
      <img src="../../../assets/Images/photo.png" alt="" height="1080" class="item-image" />
      <div class="item-text">
        <p class="text-about-forum">
          «Ненасилие и гармония» &mdash; главная тема нашего форума.
        </p>
        <p class="text-about-forum">
          Во всех мудрых древних цивилизациях, когда наступали сложные времена,
          предводители и простые люди искали совета у святых, мудрецов, духовных
          людей, обладающих истинным знанием.
        </p>
        <p class="text-about-forum">
          Сегодня мы делаем то же самое и приглашаем на форум духовных лидеров и
          учителей, просветленных Мастеров, обладающих непосредственной
          мудростью и знанием Истины.
        </p>
      </div>
    </div>
    <div class="program-forum">
      <div class="program-forum-flex flex justify-between" id="forum-program">
        <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
        <h2 class="main-title">Программа форума</h2>
        <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
      </div>
      <div class="container flex flex-col">
        <app-master-card [imgUrl]="'swami-vishnudevananda.jpg'" [title]="vishnudevanandaTitle"
          [name]="'Шри Гуру Свами Вишнудевананда Гири,'" [tradition]="'Пратьякша Адвайта Сиддхов'" [time]="'12.00 по Праге (13.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'pilot-baba.jpg'" [title]="pilotBabaTitle" [name]="'Махайоги Пайлот Бабаджи, Гималайская йога Сиддхов'" [tradition]="''"
          [time]="'12.30 по Праге (13.30 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'avadhut_maharaj.png'" [title]="avanhutMaharajTitle" [name]="'Авадхут Махарадж,'" [tradition]="'Гауди Сампрадая'"
          [time]="'13.00 по Праге (14.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'adyanath.jpg'" [title]="adyanathTitle" [name]="'Йоги Адьянатх,'" [tradition]="'Натха Сампрадая'"
          [time]="'14.00 по Праге (15.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'satimata.jpg'" [title]="satiMataTitle" [name]="'Сати Мата Джи,'" [tradition]="'Гималайская йога Сиддхов'"
          [time]="'15.00 по Праге (16.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'bharati.jpg'" [title]="bhartiTitle" [name]="'Бхарати Махардж,'" [tradition]="'Гауди Сампрадая'"
          [time]="'16.00 по Праге (17.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'mihailconstantinov.jpg'" [title]="mihailconstantinovTitle"
          [name]="'Михаил Константинов,'" [tradition]="'Вира-шайва сампрадая'" [time]="'17.00 по Праге (18.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'vishvashaarananda.jpg'" [title]="visvaranaandaTitle"
          [name]="'Свами Вишвашарадаананда,'" [tradition]="'традиция Бхакти Марга, ученик Парамахамса Вишвананды, настоятель  Ашрама Бхакти Марга в Латвии, преподаватель йоги и медитации, проповедник, музыкант'" [time]="'18.00 по Праге (19.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'devi.jpg'" [title]="deviTitle"
          [name]="'Йогмата Четана Гири и Йогмата Шраддха Гири,'" [tradition]="'Гималайская йога Сиддхов'"
          [time]="'19.00 по Праге (20.00 Киев, Мск)'"></app-master-card>
        <app-master-card [imgUrl]="'shankara.jpg'" [title]="shankaraTitle" [name]="'Шанкара (Павел Калягин),'" [tradition]="'Традиция Шивананды'"
          [time]="'19.30 по Праге (20.30 Киев, Мск)'"></app-master-card>

        <app-master-card [imgUrl]="'earth.jpg'" [title]="lovetitle" [name]="'Всемирная медитация Безусловной Любви'"
          [time]="'20.00 по Праге (21.00 Киев, Мск)'"></app-master-card>




      </div>
      <div class="container">
        <div class="registration-form flex flex-col">
          <div class="registration-form-title">
            <div class="program-forum-flex flex justify-between">
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
              <h2 class="main-title h">Зарегистрироваться на форум</h2>
              <img src="../../../assets/Images/Star 2.png" alt="" class="img-star" />
            </div>
          </div>
          <div class="form-registration-form flex justify-between" [formGroup]="form" id="registration-form">
            <input type="text" class="input-form-gold" placeholder="имя" formControlName="name" />
            <input type="email" class="input-form-gold" placeholder="email" formControlName="email" />
            <input type="text" class="input-form-gold" placeholder="телефон" formControlName="phone" />
          </div>
          <div class="registration-form-button flex justify-center items-center">
            <button class="registration-button" (click)="sendRegistrationData()" [disabled]="!form.valid"
              [ngClass]="!form.valid ? 'disabled' : 'enabled'">Зарегистрироваться</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hands-img-container">
      <div class="hands-title">
        <h2 class="main-title">
          Лока Самаста Сукхино Бхаванту <br />
          Ом Шанти Шанти Шанти
        </h2>
      </div>
    </div>
    <div class="footer flex items-center">
      <div class="container flex g">
        <div class="logo-item">
          <img src="../.../../../../assets/Icons/logo_gold.png" alt="" class="logo-item-img" />
        </div>
        <div class="social-items flex flex-col">
          <div class="flex links" (click)="goToURl('https://www.instagram.com/yogisforpeace/')">
            <img src="../../../assets/Icons/inst.png" alt="" class="social-img" />
            @yogisforpeace
          </div>
          <div class="flex items-center">
            <img src="../../../assets/Icons/tgpng.png" alt="" class="social-img" />
            <div>
              <div class="links" (click)="goToURl('https://t.me/yogisforpeace_life')">yogisforpeace_life (информационный канал)</div>
              <div class="links" (click)="goToURl('https://t.me/yogisforpeace')">yogisforpeace (чат подсчета умиротворяющих практик)
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <img src="../../../assets/Icons/v.png" alt="" class="social-img" />
            <div>
              <div class="links">yogisforpeace</div>
            </div>
          </div>
          <div class="flex items-center justify-between parent-flex it">
            <div class="flex flex-col">
              <div class="flex">
                <img src="../../../assets/Icons/face.png" alt="" class="social-img" />
                <div>
                  <div class="links">worldyogisforpeace</div>
                </div>
              </div>
              <div class="flex" (click)="goToURl('https://www.youtube.com/c/Yogisforpeace')">
                <img src="../../../assets/Icons/youtube.png" alt="" class="social-img" />
                <div>
                  <div class="links">Yogisforpeace</div>
                </div>
              </div>
            </div>
            <div class="flex items-center">
              <img class="social-img" src="../../../assets/Icons/world.png" alt="">
              <div class="">
                <div class="links">yogisforpeace.life</div>
                <div class="links">yogisforpeace.life/en</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
