<div class="wrapper">
  <div class="content">
    <div class="text">
      <p>{{"thanks-page.namaste" | translate}}</p>
      <p>{{"thanks-page.for-all-info" | translate}}</p>
      <div class="bot_wrap"><p>{{"thanks-page.yoga-bot" | translate}}</p> <img src="assets/Images/pray.png"></div>
    </div>
    <div
      id="JXRG3Zbp"
      class="ss-landing"
      data-target="JXRG3Zbp"
      data-domain="yogispeace"
    ></div>
  </div>
  <div class="container"></div>

  <script>
    let ssContext = {
      variables: {
        // Данные клиента
        name: "int|string",
        // bonuses: 1000
        // ...
      },
      scope: {
        // Внешние переменные
        name: "int|string",
        // amount: 1000
        // name: Hello
        // orderId: '1111-2222-3333-4444',
        // ...
      },
      form: {
        // Значения по умолчанию внутри формы
        phone: "380950001111", // Номер телефона
        email: "demo@smartsender.com", // Email
      },
    };
  </script>
</div>
