<div class="wrapper thanks">
  <div class="content">
    <div class="text">
      <div class="bot_wrap"><p>{{"thanks-page.namaste" | translate}}   &nbsp; </p> <img src="assets/Images/pray.png"></div>
      <p>
        {{"thanks-page.join-grup" | translate}}
      </p>
      <p>
        <button style="    position: relative;" class="registration-button" (click)="telegramClick()">
          <span>{{"thanks-page.join-grup-button" | translate}}</span>
        </button>
      </p>
      <p>

      </p>
      <!-- <p>{{"thanks-page.namaste" | translate}}</p>
      <p>{{"thanks-page.for-all-info" | translate}}</p> -->
      <!-- <div class="bot_wrap"><p>{{"thanks-page.yoga-bot" | translate}}</p> <img src="assets/Images/pray.png"></div> -->
    </div>
  </div>

<!-- Meta Pixel Code -->
<!-- <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '626453055020322');
  fbq('track', 'Lead');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=626453055020322&ev=PageView&noscript=1"
/></noscript> -->
<!-- End Meta Pixel Code -->
