<div class="wrapper thanks">
  <div class="content">
    <div class="text">
      <div class="bot_wrap"><p>{{"thanks-page.namaste" | translate}}</p> <img src="assets/Images/pray.png"></div>
      <p>
        {{"thanks-page.join-grup" | translate}}
      </p>
      <p>
        <button style="    position: relative;" class="registration-button" (click)="goToLink('https://t.me/FORUM_AHIMSA')">
          <span>{{"thanks-page.join-grup-button" | translate}}</span>
        </button>
      </p>
      <p>

      </p>
      <!-- <p>{{"thanks-page.namaste" | translate}}</p>
      <p>{{"thanks-page.for-all-info" | translate}}</p> -->
      <!-- <div class="bot_wrap"><p>{{"thanks-page.yoga-bot" | translate}}</p> <img src="assets/Images/pray.png"></div> -->
    </div>
  </div>

