<div class="wrapper">
  <div class="container m-auto mx-auto my-0">
    <h1>
      Список пользователей оставивших заявки на сайте
    </h1>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th> <div class="flex flex-col -mb-5">
              <!-- <div class="text">Откуда</div> -->
              <div class="select">
                <mat-form-field appearance="fill" >
                  <mat-label>Откуда</mat-label>
                  <mat-select disableRipple [formControl]="fromFieldFrom">
                    <mat-option value="Ahimsa">Ahimsa</mat-option>
                    <mat-option value="Forum">Forum</mat-option>
                    <mat-option value="all">Все</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> </th>
            <th>reply To</th>
            <th>Дата добавления</th>
            <th>Рассмотрено</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let userMessage of usersMessages; let i = index;">
            <tr>
              <td>{{userMessage.name}}</td>
              <td>{{userMessage.emailAddress}}</td>
              <td>{{userMessage.phone?.e164Number ??  userMessage.phone}}</td>
              <td>{{userMessage.from}}</td>
              <td>{{userMessage.replyTo}}</td>
              <td>{{userMessage.date | date:'d.MM.yyyy, HH:mm '}}</td>
              <td> <input type="checkbox"  [(ngModel)]="userMessage.isChecked" (change)="checkUser(userMessage, i)"> </td>
            </tr>
          </ng-container>


        </tbody>
      </table>
    </div>
  </div>
</div>