.bn_gr {
  border-radius: 15px;
  margin: 30px 0;
}
.cs_shadow {
  width: auto;
  &.vh {
    height: 100vh;
    max-height: 1020px;
  }
}
@media (max-width: 900px) {
  .bn_gr {
    width: 395px;
    height: 70px;
    font-size: 25px;
    &.cons {
      width: auto;
    }
  }
}
@media (max-width: 786px) {
  .cs_shadow.vh {
    height: auto;
  }
}
@media (max-width: 650px) {
  .bn_gr.cons {
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .bn_gr {
    width: auto;
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .bn_gr {
    height: 63px;
    font-size: 20px;
  }
  .bn_gr.cons {
    height: 45px;
    font-size: 11px;
  }
}
