<div class="cs-gen_wrapper">
  <div class="art-cont_wrapper">
    <div class="cs_shadow vh">
      <div class="outer_wrap back">
        <div class="gen_wrap">
          <p class="img_wrap">
            <img src="assets/Images/join.svg" alt="peace" />
          </p>
          <p class="t_large">
            МЕЖДУНАРОДНЫЙ<br />
            ТВОРЧЕСКИЙ КОНКУРС
          </p>
          <p class="sub_line">
            Переключаем внимание на <span>правильные</span> смыслы
          </p>
          <button class="bn_gr" (click)="scrollTo('participate')">
            Принять участие
          </button>
        </div>
      </div>
    </div>
    <div class="cs_shadow">
      <div class="outer_wrap back_s">
        <div class="gen_wrap pad_md">
          <p class="header_cs shw">
            ПОЧЕМУ ВОЗНИКЛА ИДЕЯ<br />
            ПРОВЕСТИ ЭТОТ КОНКУРС?
          </p>
          <p class="header_cs hid">
            ПОЧЕМУ ВОЗНИКЛА ИДЕЯ ПРОВЕСТИ ЭТОТ КОНКУРС?
          </p>
          <div class="cont_f">
            <div class="ide_as_wrap">
              <div class="ide_a_wrap">
                <div class="mp_wrap">
                  <video style="object-fit: cover; height: 100%" autoplay loop>
                    <source src="assets/Images/fire.mp4" type="video/mp4" />
                  </video>
                </div>
                <div class="smn">
                  <p class="genn">
                    Мир сильно изменился за последнее время. Почти каждой семьи
                    коснулись
                    <span>ужасные события</span>, на завершение которых,
                    кажется, у нас нет возможности повлиять...
                  </p>
                  <p class="genn mbb">
                    Когда, наконец, прекратятся разрушения, ненависть и
                    страдания людей, вызванные этой ситуацией?!
                    <span
                      >Что может сделать каждый из нас непосредственно
                      сам?!</span
                    >
                  </p>
                </div>
              </div>
              <div class="ide_a_wrap rtw">
                <div class="smn">
                  <p class="genn">
                    Когда обстоятельства «сгущаются» – нам начинает казаться,
                    что от нас ничего не зависит и мы частенько опускаем руки…
                    <span>Но это – НЕ так!</span>
                  </p>
                  <p class="genn mbb">
                    Любое действие начинается с идеи, с мысли, ее зародившей, и
                    все, что мы видим – сотворил человеческий разум, а значит,
                    он же способен
                    <span>всё изменить</span>!
                  </p>
                </div>
                <div class="mp_wrap">
                  <video style="object-fit: cover; height: 100%" autoplay loop>
                    <source src="assets/Images/free.mp4" type="video/mp4" />
                  </video>
                </div>
              </div>
              <div class="ide_a_wrap rtx">
                <div class="smn">
                  <p class="genn">
                    <span
                      >Нам нужно начать с правильных ненасильственных,
                      жизнеутверждающих идей и смыслов</span
                    >, смыслы и идеи породят правильные действия, а правильные
                    действия сотворят новый гармоничный мир!
                  </p>
                </div>
                <img class="signn" src="assets/Images/!.png" alt="sign" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_shadow">
      <div class="outer_wrap back_s pd">
        <div class="gen_wrap pad_md rel">
          <div class="line_rap">
            <img src="assets/Images/9s.png" alt="dfg" />
          </div>
          <div class="cont_f">
            <div class="cont">
              <p class="genn">
                Создавая картины, стихи, любой вид творчества во имя возвышенных
                идеалов, мы сначала
                <span>внутри себя рассеиваем омрачающее настроение</span>.
              </p>
              <p class="linee">
                <img src="assets/Images/ltop.png" alt="top" />
              </p>
              <p class="genn">
                Создавая прекрасные картины, глубокомысленные стихи, красивую
                умиротворяющую музыку, снимая добрые фильмы, показывая в
                соц.сетях фотографии гармонии и любви – привнося позитивное
                творчество во имя воплощения возвышенных идеалов, мы сможем
                легко рассеять все тяжелые настроения внутри на самих.
              </p>
              <p class="linee bt">
                <img src="assets/Images/lbottom.png" alt="bottom" />
              </p>
              <p class="genn">
                Взрастив мир и любовь в себе,
                <span
                  >мы сможем наполнить позитивными смыслами наше окружение</span
                >, а наше окружение – свое окружение, так шаг за шагом через
                наши правильные мысли и действия мы сможем наполнить этот мир
                гармонией, показать его красоту, а главное —
                <span
                  >напомнить всем о ценности самого большого дара – ценности
                  этой жизни</span
                >.
              </p>
            </div>
            <div class="cont_img jj">
              <img
                class="cont_img_desc"
                src="assets/Images/lso.png"
                alt="sold"
              />
              <img
                class="cont_img_mop"
                src="assets/Images/lsom.jpg"
                alt="sold"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_shadow">
      <div class="outer_wrap back_s less carousel">
        <div class="gen_wrap pad_md">
          <p class="header_cs">ДЕЙСТВИТЕЛЬНО ЛИ ЭТО СРАБОТАЕТ?</p>
          <div class="cont_f coln">
            <div class="cont">
              <p class="genn">
                Когда началась война, мы, как люди духовные, создали движение
                «Йоги за Мир». Наше движение –<span>
                  это выражение активной миротворческой позиции в наше
                  агрессивное время</span
                >. Мы выбрали не поддаваться общим, навязанным извне
                настроениям, а быть трансляторами идей мира и любви.
              </p>
              <p class="genn">
                Творческий конкурс «Мир и Любовь» — это один из проектов
                движения, и мы верим, что за идеями мира, отраженными в
                творчестве, стоит большая трансформирующая сила!
                <span>Что мы еще делаем:</span>
              </p>
              <ul class="l_gen">
                <li class="genn">проводим большие форумы, посвященные миру</li>
                <li class="genn">
                  участвуем в различных международных конференциях за мир –
                  таким образом привлекая внимание общественности к ужасам войны
                </li>
                <li class="genn">
                  распространяем идею «ахимсы» (ненасилия), проводим обучающие
                  курсы, передаем обет ахимсы – помогаем взрастить намерение
                  жить в мире, сострадании и любви
                </li>
                <li class="genn">
                  проводим ежедневные медитации, которые помогают успокоить умы
                  и сердца многих людей
                </li>
              </ul>
              <p class="genn">
                <span>Это – наше служение миру!</span> И мы хотели бы поделиться
                с вами отзывами людей, которые участвовали в наших проектах
              </p>
            </div>
            <div class="cont_img ful">
              <p (click)="previous()" class="pr_nx">
                <img class="qarr" src="assets/Images/prw.png" alt="arrow" />
              </p>
              <img
                (click)="showFullSize('assets/Images/1.png')"
                [hidden]="index !== 1"
                src="assets/Images/1.png"
                alt="sold"
              />
              <img
                (click)="showFullSize('assets/Images/2.png')"
                [hidden]="index !== 2"
                src="assets/Images/2.png"
                alt="sold"
              />
              <img
                (click)="showFullSize('assets/Images/3.png')"
                [hidden]="index !== 3"
                src="assets/Images/3.png"
                alt="sold"
              />
              <p (click)="next()" class="pr_nx rot">
                <img class="qarr" src="assets/Images/prw.png" alt="arrow" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_shadow">
      <div class="outer_wrap back_s less blue">
        <div class="gen_wrap pad_md">
          <p class="header_cs">ПРАВИЛА УЧАСТИЯ В КОНКУРСЕ</p>
          <div class="cont_f plain">
            <div class="cont_img top jj">
              <img
                class="cont_img_desc"
                src="assets/Images/face.png"
                alt="sold"
              />
              <img
                class="cont_img_mop"
                src="assets/Images/facem.jpg"
                alt="sold"
              />
            </div>
            <div class="cont">
              <p class="genn">
                Как вы уже поняли, правила нашего конкурса – довольно «условны»
                и призваны не для того, чтобы ограничить, но для того, чтобы
                <span
                  >«упорядочить» глубокий трансформирующий созидательный
                  процесс</span
                >
              </p>
              <p class="genn">
                Цель конкурса – помочь
                <span>распознать и раскрыть внутри себя свет</span>, любовь и
                многие другие <span>благостные качества</span>, которые смогут
                стать <span>противовесом</span> тем разрушительным идеям,
                которые сегодня так агрессивно транслируются во всех медиа
                различных стран.
              </p>
              <p class="linee bt">
                <img src="assets/Images/lbottom.png" alt="bottom" />
              </p>
              <p class="genn"><span>Номинации конкурсных работ:</span></p>
              <ul class="l_gen">
                <li class="genn">проводим большие форумы, посвященные миру</li>
                <li class="genn">Плакат/Эмблема/Логотип</li>
                <li class="genn">Рисунок</li>
                <li class="genn">Песня</li>
                <li class="genn">Стихотворение</li>
                <li class="genn">Видеоролик</li>
              </ul>
              <p class="genn">
                <span>Это – наше служение миру!</span> И мы хотели бы поделиться
                с вами отзывами людей, которые участвовали в наших проектах
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="participate" class="cs_shadow">
      <div class="outer_wrap back_s less blue">
        <div class="gen_wrap pad_md">
          <div class="cont_f plains">
            <div class="cont_img top jj">
              <img
                class="cont_img_desc"
                src="assets/Images/han.png"
                alt="sold"
              />
              <img
                class="cont_img_mop"
                src="assets/Images/hanm.jpg"
                alt="sold"
              />
            </div>
            <div class="cont">
              <p class="genn">
                <span>Правила участия:</span>
              </p>
              <ul class="l_gen">
                <li class="genn">Авторская уникальная работа</li>
                <li class="genn">Срок подачи работ — до 31 августа</li>
                <li class="genn">Возраст участников не ограничен</li>
                <li class="genn">
                  Видеоролик или песню просим присылать продолжительностью до 5
                  минут
                </li>
                <li class="genn">
                  Если вы рисуете плакат или картинку, на них нужно написать
                  лозунг/текст
                </li>
                <li class="genn">
                  Вместе с творческой работой мы просим направить краткую
                  информацию — ФИО автора, город, возраст, название работы,
                  контактные данные (телефон, e-mail) и коротко рассказать о
                  задумке вашей работы
                </li>
                <li class="genn">Работы принимаются до 1 сентября 2023 года</li>
                <li class="genn">
                  Итоги конкурса — с 1 по 15 сентября 2023 года
                </li>
              </ul>
              <div class="flex_d sames">
                <p class="genn">Работы присылайте на почту</p>
                <button
                  class="bn_gr wide cons"
                  (click)="goToURl('mailto:contestyogisforpearce@gmail.com')"
                >
                  CONTESTYOGISFORPEARCE@GMAIL.COM
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_shadow">
      <div class="outer_wrap back_s less">
        <div class="gen_wrap pad_md">
          <p class="header_cs shw">
            РАБОТЫ ВСЕХ УЧАСТНИКОВ БУДУТ<br />
            ОПУБЛИКОВАНЫ НА ЭТОЙ СТРАНИЦЕ
          </p>
          <p class="header_cs hid">
            РАБОТЫ ВСЕХ УЧАСТНИКОВ БУДУТ ОПУБЛИКОВАНЫ НА ЭТОЙ СТРАНИЦЕ
          </p>
          <p class="genn">
            <span>Самые интересные работы получат памятные призы</span>
          </p>
          <div class="works_wrap">
            <div class="flex_d col_mmd">
              <p class="work_item">
                <img src="assets/Images/w4.png" alt="work" />
              </p>
              <p class="work_item">
                <img src="assets/Images/w5.png" alt="work" />
              </p>
              <p class="work_item last">
                <img src="assets/Images/w6.png" alt="work" />
              </p>
            </div>
            <div class="flex_d col_mmd">
              <p class="work_item">
                <img src="assets/Images/w7.png" alt="work" />
              </p>
              <p class="work_item">
                <img src="assets/Images/w8.png" alt="work" />
              </p>
              <p class="work_item last">
                <img src="assets/Images/w9.png" alt="work" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_shadow">
      <div class="outer_wrap back_s less blue">
        <div class="gen_wrap pad_md add">
          <div class="cont_f col">
            <p class="genn center">
              Давайте вместе выступим в <span>роли спасателей</span>, сделаем
              этот мир светлее, поможем и другим людям провести внутри себя
              трансформацию в сторону <span>высоких идеалов и ценностей</span>!
            </p>
            <p class="genn center">
              Творите для Мира и во имя Мира! Ждем ваши работы
            </p>
            <div
              class="ml_wrapper"
              (click)="goToURl('mailto:contestyogisforpearce@gmail.com')"
            >
              <img src="assets/Images/mlr.png" alt="sold" />
            </div>
            <p
              class="header_cs pointer"
              (click)="goToURl('mailto:contestyogisforpearce@gmail.com')"
            >
              CONTESTYOGISFORPEARCE@GMAIL.COM
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
