.card-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0px 4px 27px 2px rgba(0, 0, 0, 0.53);
  max-height: initial;
  padding: 15px 10px;
}
.card-master-image {
  flex: 0 0 395px;
  // background: url('../../../../assets/Icons/mandhala.png') 0 0/100% auto no-repeat;
  height: 395px;
  overflow: hidden;
  position: relative;
  margin-left: 40px;
}
.img-canva {
  // margin-top: -35px;
}
.master-image {
  position: absolute;
  top: 79px;
  width: 235px;
  height: 235px;
  left: 80px;
  border-radius: 9999px;
  overflow: hidden;
}
.card-text {
  max-width: 620px;
  margin-left: 100px;
  padding-top: 30px;
}
.card-text-title {
  font-size: 25px;
  font-family: "RobotoSlab";
  line-height: 1.2;
  margin-bottom: 20px;
}
.card-text-name {
  font-size: 40px;
  font-family: "RobotoSlab";
  color: rgb(189, 21, 78);
  line-height: 1.2;
  font-weight: 600;
  border-bottom: 2px solid #ba7d18;
  &.no-line {
    border-bottom: 2px solid transparent;
  }
}
.card-clock {
  height: 30px;
  margin-right: 15px;
}
.card-text-time {
  margin-top: 22px;
  color: #ba7d18;
  font-size: 30px;
  line-height: 1;
  align-items: unset;
}
@media (max-width: 1000px) {
  .card-master-image {
    margin: 0;
  }
  .img-bird {
    height: 352px;
  }
  .content-img {
    top: 137px;
  }
  .card-text {
    margin-left: 30px;
    padding-top: 15px;
  }
  .card-text-title {
    margin-bottom: 15px;
  }
  .card-text-time {
    margin-top: 25px;
  }
  .card-text-name {
    font-size: 30px;
  }
}
@media (max-width: 786px) {
  .img-canva {
    margin: 0;
  }
  .master-image {
    position: absolute;
    top: 65px;
    width: 170px;
    height: 170px;
    left: 65px;
    border-radius: 9999px;
    overflow: hidden;
  }
  .card-master-image {
    flex: 0;
    height: 200px;
    width: 300px;
    overflow: hidden;
    position: relative;
  }
  .card-wrapper {
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .card-text {
    margin-left: 0;
    padding-top: 15px;
    text-align: center;
  }
  .card-text-time {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .card-text-time {
    font-size: 22px;
    text-align: left;
  }
}
