@import "../forum/forum.component.scss";

// .header-inner {
//     display: flex;
//     justify-content: space-between;
// }
// .content-title-el {
//     text-transform: unset;
// }

.header-inner.header-inner-button.boreder {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 999px;
    background-color: #b21243;
    padding: 0 3px !important;
    margin: 0 15px;
    &.grad {
        margin: 0 15px 0 0;
    }
    &.grad {
        background-image: linear-gradient(260deg, #ebd385 0%, #ebd385 11%, #b7832b 43%, #edcd7b 73%, #b7832b 100%);
        width: 300px;
        button {
            font-size: 22px;
            background: transparent;
            width: 100%;
        }
    }
    button {
        padding: 0 30px;
        height: 64px;
        border: 1px solid #fff;
    }
}
.wrapper {
    border-bottom: none;
    .icons-wrapper.top {
        border-top: 2px solid #ba7d18;
    }
}

.ro_wrap {
    width: 40%;
    justify-content: space-around;
    &.ee {
        width: 20%;
        .card-icon {
            width: 100%;
        }
    }
}
.bl_wrappr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row_items {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -90px;
    &.st {
        width: 90%;
    }
}
.bl_wraps {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px 0;
    .text-about-forum {
        width: 490px;
        text-align: center;
        margin-bottom: 0;
    }
}
.gal_img {
    border-radius: 15px;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    width: 24.3%;
    img {
        object-fit: cover;
        height: 220px;
        width: 100%;
    }
}
.pray {
    scale: 0.6;
    margin-right: -30px;
}
.collect_pray {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    .tt {
        font-style: italic;
    }
}
.text-about-forum.bott {
    width: 65%;
    margin: 30px auto 20px auto;
    text-align: center;
}
.galr {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}
.lnn {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(-90deg, #ebd385 0%, #ebd385 11%, #b7832b 43%, #edcd7b 73%, #b7832b 100%);
}
.divid {
    height: 335px;
    align-self: flex-end;
    width: 3px;
    background-image: linear-gradient(-90deg, #ebd385 0%, #ebd385 11%, #b7832b 43%, #edcd7b 73%, #b7832b 100%);
}
.program-forum {
    margin-top: -310px;
}
.its {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
    // img {
    //     scale: 0.7;
    // }
}
.d_wrap {
    img {
        height: 70%;
    }
}
.tt {
    font-size: 27px;
    line-height: 1.2;
    color: #ba7d18;
    font-weight: 400;
    font-family: "Roboto";
    margin-left: 30px;
}
.card-icon.flex.flex-col {
    line-height: 1.3;
}
.content-title-el {
    font-family: "Roboto Slab";
    color: #bd154e;
    line-height: 1;
    font-weight: 500;
}
.content-list li {
    font-weight: 400;
    font-family: "Roboto";
    line-height: 1.2;
}
.content-footer-button.relative {
    margin: 10px 0 32px 0;
}
.nav-wrapper {
    width: 60px;
    text-align: center;
  }
  .sl-nav {
    display: inline;
    padding: 0 !important;
  }
  .sl-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
  }
  .sl-nav li {
    cursor: pointer;
    padding-bottom: 10px;
  }
  li.lil:hover {
    background: #ebe7e7 !important;
  }
  .sl-nav li ul {
    display: none;
  }
  .sl-nav li:hover ul {
    position: absolute;
    top: 29px;
    right: -10px;
    display: block;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 8;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
  }
  .sl-nav li:hover .triangle:after {
    content: "";
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom: 0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
  }
  .sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
  }
  .sl-nav li ul li span {
    padding-left: 5px;
  }
  .sl-nav li ul li span:hover,
  .sl-nav li ul li span.active {
    color: #146c78;
  }
  .sl-flag {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    width: 15px;
    height: 15px;
    background: #aaa;
    border-radius: 50%;
    position: relative;
    top: 2px;
    overflow: hidden;
  }
  .flag-ru {
    background: url(../../../assets/Icons/Flag_of_Russia.svg.webp);
    background-size: cover;
    background-position: center center;
  }
  .flag-ua {
    background: url(../../../assets/Icons/ua.svg);
    background-size: cover;
    background-position: center center;
  }
  .flag-usa {
    background-size: cover;
    background-position: center center;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=");
  }
@media (max-width: 1295px) {
    .program-forum {
        margin-top: 0px;
    }
    .container {
        margin: 0 auto;
    }
}
@media (max-width: 1100px) {
    .flex.flex-wrap {
        flex-direction: column;
    }
    .ro_wrap {
        width: auto;
        justify-content: center;
        &.ee {
            width: auto;
        }
    }
    .bl_wraps {
        flex-direction: column;
    }
    .divid {
        display: none;
    }
    .row_items {
        margin-top: 0px;
        flex-direction: column;
    }
    .its {
        margin-top: 19px;
    }
    .collect_pray {
        margin-top: 0px;
    }
}
@media (max-width: 768px) {
    .program-forum-flex {
        width: 500px;
    }
    .gal_img {
        margin: 0 auto 15px auto;
        height: auto;
        width: 70%;
    }
    .galr {
        flex-direction: column;
    }
}
@media (max-width: 550px) {
    .gal_img {
        width: 85%;
    }
    .header-inner.header-inner-button.boreder {
        height: 56px;
        button {
            height: 52px;
        }
    }
    .head_in {
        height: 100px;
    }
    .header-inner.header-inner-button.boreder.grad {
        margin: 0;
        width: auto;
    }
    .program-forum-flex {
        width: 300px;
    }
    .bl_wraps .text-about-forum {
        width: auto;
    }
    .logo__container-little {
        img {
            max-height: 100%;
        }
    }
    .header {
        height: 108px;
    }
}
@media (max-width: 380px) {
    .m_show {
        justify-content: space-between;
    }
    .gal_img {
        width: 100%;
    }
}
@media (max-width: 350px) {
    .header-inner.header-inner-button.boreder {
        button {
            padding: 0 10px;
        }
    }
    .logo__container-little {
        width: 40px;
    }
    .registration-button {
        padding: 0;
    }
    .registration-form-title .program-forum-flex .main-title {
        font-size: 15px;
    }
    .registration-form-button {
        margin-bottom: 35px;
        font-size: 16px;
    }
}
@media (max-width: 320px) {
    .header-inner.header-inner-button.boreder.grad {
        max-width: 220px;
        button {
            font-size: 16px;
        }
    }
    .sub-title {
        font-size: 25px;
    }
    .content-title-el {
        font-size: 25px;
    }
    .program-forum-flex .img-star {
        display: none; 
    }
    .logo__container-little {
        display: none;
    }
    .header-inner.header-inner-text {
        margin-bottom: 25px;
    }
    .about-forum {
        width: 265px;
    }
}
