<div class="main-wrapper">
    <div class="wrapper">
        <div class="header">
            <div class="head_wrap">
                <div class="head_in">
                    <div class="header-inner flex justify-between items-center">
                        <div class="mob_h-wrap">
                            <div class="header-inner header-inner-icon">
                                <div class="logo__container-little">
                                    <img src="assets/Icons/logo-little.png" alt="logo" class="img img__logo-little" />
                                </div>
                            </div>
                            <div class="w_wrap m_show">
                                <div class="header-inner header-inner-text" (click)="scrollTo('div-about-forum')">О
                                    форуме</div>
                                <div class="header-inner header-inner-text" (click)="scrollTo('forum-program')">
                                    Программа и мастера
                                </div>
                            </div>
                        </div>
                        <div class="menu_wrap">
                            <div class="w_wrap m_hide">
                                <div class="header-inner header-inner-text" (click)="scrollTo('div-about-forum')">О
                                    форуме</div>
                                <div class="header-inner header-inner-text" (click)="scrollTo('forum-program')">
                                    Программа и мастера
                                </div>
                            </div>
                            <div class="header-inner header-inner-button boreder">
                                <button class="registration-button"
                                    (click)="scrollTo('registration-form')">Зарегистрироваться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content flex">
                <div class="m-wrap">
                    <div class="content-title">
                        <h2 class="sub-title">I-й Международный онлайн-форум</h2>
                        <h1 class="content-title-el">НЕНАСИЛИЕ и ГАРМОНИЯ СЕГОДНЯ</h1>
                    </div>
                    <div class="content-list">
                        <ul>
                            <li>Почему на планете пандемии и войны?</li>
                            <li>Когда придет мир?</li>
                            <li>Как мы можем на это повлиять?</li>
                            <li>Как жить счастливо уже сейчас?</li>
                        </ul>
                    </div>
                    <div class="content-dates">
                        <div class="flex justify-between col">
                            <p>10 июля</p>
                            <p>Онлайн</p>
                            <p>Участие бесплатно</p>
                        </div>
                    </div>
                    <div class="content-footer-button relative">
                        <div (click)="goToURl('https://t.me/FORUM_AHIMSA')">
                            <!-- <button class="btn_custom telegram">
                                <img src="assets/Images/tel.png" alt="telegram">
                                Присоединиться к чату форума</button> -->
                            <div class="header-inner header-inner-button boreder grad">
                                <button class="registration-button" (click)="scrollTo('forum-program')">Программа
                                    форума</button>
                            </div>
                            <!-- </div>
              <button class="registration-button registration-button-gold">
              </button> -->
                            <div class="flex justify-between stars">
                                <img src="assets/Images/Star 2.png" alt="" class="img-star margin-r" />
                                <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                                <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                                <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                                <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                            </div>
                        </div>
                    </div>
                    <div class="content-img">
                        <img src="assets/Images/bird.png" alt="" class="img-bird" />
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper icons-wrapper top"> 
            <div class="container">
                <div class="flex flex-wrap">
                    <div class="ro_wrap">
                        <div class="card-icon flex flex-col items-center f">
                            <div class="card-icon-img">
                                <img src="assets/Icons/11.png" alt="" class="img-card-icon" />
                            </div>
                            <div class="card-icon-title"><b>8 часов</b> лекций и</div>
                            <div class="card-icon-subtitle">вдохновляющих практик</div>
                        </div>
                        <div class="card-icon flex flex-col items-center">
                            <div class="card-icon-img">
                                <img src="assets/Icons/22.png" alt="" class="img-card-icon" />
                            </div>
                            <div class="card-icon-title"><b>1000<br> участников</b></div>
                            <div class="card-icon-subtitle">со всего мира</div>
                        </div>
                    </div>
                    <div class="ro_wrap">
                        <div class="card-icon flex flex-col items-center f">
                            <div class="card-icon-img">
                                <img src="assets/Icons/33.png" alt="" class="img-card-icon" />
                            </div>
                            <div class="card-icon-title mt-1"><b>11 духовных</b><br> <b>учителей</b> <br><span style="white-space: nowrap;">высочайшего уровня</span></div>
                            <!-- <div class="card-icon-subtitle mt-1">высочайшего уровня</div> -->
                        </div>
                        <div class="card-icon flex flex-col items-center">
                            <div class="card-icon-img">
                                <img src="assets/Icons/44.png" alt="" class="img-card-icon" />
                            </div>
                            <div class="card-icon-title"><b>Всемирная</b></div>
                            <div class="card-icon-subtitle"><b>медитация <br> Любви</b></div>
                        </div>
                    </div>
                    <div class="ro_wrap ee">
                        <div class="card-icon flex flex-col items-center f">
                            <div class="card-icon-img">
                                <img src="assets/Icons/55.png" alt="" class="img-card-icon" />
                            </div>
                            <div class="card-icon-title mt-1"><b>Практики Любви</b><br> в различных традициях</div>
                            <!-- <div class="card-icon-subtitle mt-1">высочайшего уровня</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="about-forum flex justify-between" id="div-about-forum">
                <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                <h2 class="main-title">О форуме</h2>
                <img src="assets/Images/Star 2.png" alt="" class="img-star" />
            </div>

            <div class="item flex image-and-text">
                <img src="assets/Images/photo.png" alt="" height="1080" class="item-image" />
                <div class="item-text">
                    <p class="text-about-forum">
                        «Ненасилие и гармония» &mdash; главная тема нашего форума.
                    </p>
                    <p class="text-about-forum">
                        Во всех мудрых древних цивилизациях, когда наступали сложные времена,
                        предводители и простые люди искали совета у святых, мудрецов, духовных
                        людей, обладающих истинным знанием.
                    </p>
                    <p class="text-about-forum">
                        Сегодня мы делаем то же самое и приглашаем на форум духовных лидеров и
                        учителей, просветленных Мастеров, обладающих непосредственной
                        мудростью и знанием Истины.
                    </p>
                </div>
            </div>
            <div class="program-forum">
                <div class="program-forum-flex flex justify-between" id="forum-program">
                    <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                    <h2 class="main-title">Программа форума</h2>
                    <img src="assets/Images/Star 2.png" alt="" class="img-star" />
                </div>
            </div>
        </div>
    </div>