<div class="wrapper">
    <div class="container">
        <div class="container-inner">
            <div class="logo__container">
                <img src="../../../assets/Logo/yogis-for-peace-big-.svg" alt="logo" class="img img__logo" />
            </div>
            <div class="title-container">
                <h2 class="header-img-logo">
                    Resolution <br>
                    of the Movement ‘Yogis for peace’ <br>
                    by Swami Vishnudevananda Giri
                </h2>
                <h2 class="header-img-logo-ru">
                    РЕЗОЛЮЦИЯ ДВИЖЕНИЯ «ЙОГИ ЗА МИР»<br>

                    СВАМИ ВИШНУДЕВАНАНДА ГИРИ
                </h2>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="duo-language-container flex">
            <div class="language-container lan-en">
                We, participants of Marathon Peace & Harmony,
                assess the current situation in the world as very
                alarming and tense. The conflict that began
                between Russia and Ukraine does not leave
                anyone indifferent.
                <br><br>
                The world is in trouble and must be actively
                defended and saved.
            </div>
            <div class="language-container lan-ru ">
                Мы, участники Марафона Мира и Гармонии,
                оцениваем нынешнюю ситуацию в мире как
                напряженную. Конфликт, начавшийся между
                Россией и Украиной, не оставляет равнодушным никого.
                <br><br>

                Мир находится в беде, и его надо активно отстаивать, спасать.
            </div>

        </div>
    </div>
    <div class="content-container">
        <div class="container-with-img flex">
            <div class="img-box">
                <img class="pranam-img-left" src="../../../assets/Images/Crop/pranam.png" alt="pranam">
            </div>
            <div class="text-box flex flex-col duo-language-container">
                <div class="language-container language-container-col lan-en">
                    In this regard, we, the participants
                    of the marathon for peace, call for:
                </div>
                <div class="language-container language-container-col lan-ru">
                    В связи с этим мы, участники
                    марафона за мир, призываем
                    к следующим действиям:
                </div>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="duo-language-container flex">
            <div class="language-container pb-10 lan-en">
                <h2>1</h2>
                <h2>Daily Prayer or Meditation <br>
                    for Peace
                </h2>
                Daily universal collective or individual prayer
                or meditation for cessation of wars and
                establishment of peace, harmony, friendliness,
                love, and compassion, which everyone can do
                in their own language and in their own way.
            </div>
            <div class="language-container pb-10 lan-ru ">
                <h2>1</h2>
                <h2>Ежедневная молитва<br>
                    или медитация за мир</h2>
                К ежедневной всеобщей к коллективной или
                индивидуальной молитве или медитации за

                прекращение войн и установление мира, гар-
                монии, дружелюбия, любви и сострадания, ко-
                торую каждый может делать на своем языке

                и по-своему, как умеет.
            </div>

        </div>
    </div>
    <div class="content-container">
        <div class="duo-language-container flex">
            <div class="language-container pb-10 lan-en">
                <h2>2</h2>
                <h2>Preaching the Ideology<br>
                     of Peace</h2>
                Daily universal collective or individual prayer
                or meditation for cessation of wars and
                establishment of peace, harmony, friendliness,
                love, and compassion, which everyone can do
                in their own language and in their own way.
            </div>
            <div class="language-container pb-10 lan-ru ">
                <h2>2</h2>
                <h2>Проповедь идеологии<br> 
                     мира</h2>
                К ежедневной всеобщей к коллективной или
                индивидуальной молитве или медитации за

                прекращение войн и установление мира, гар-
                монии, дружелюбия, любви и сострадания, ко-
                торую каждый может делать на своем языке

                и по-своему, как умеет.
            </div>

        </div>
    </div>
    <div class="content-container">
        <div class="duo-language-container flex">
            <div class="language-container pb-10 lan-en">
                <h2>3</h2>
                <h2>Teaching Prayer<br>
                    and Meditation for Peace<br>
                    to 7 Billion People</h2>
                We call on spiritual leaders, mentors, pastors,
                teachers, missionaries, and preachers to actively
                teach their followers, disciples, believers, and
                parishioners how to pray or meditate for peace,
                love, and compassion. So that in a few years,
                7 billion people will be able to meditate or pray
                this way every day.
            </div>
            <div class="language-container pb-10 lan-ru ">
                <h2>3</h2>
                <h2>
                    Обучение молитве<br>
                    и медитации мира<br>
                    7 миллиардов людей
                </h2>
                Мы призываем духовных лидеров, наставни-
                ков, пастырей, учителей, миссионеров, про-
                поведников активно обучать молитве или ме-
                дитации мира, любви и сострадания своих

                последователей, учеников, верующих, прихо-
                жан. Так, чтобы через несколько лет 7 милли-
                ардов людей могли ежедневно медитировать

                или молиться подобным образом.
            </div>

        </div>
    </div>
    <div class="content-container">
        <div class="duo-language-container flex">
            <div class="language-container lan-en">
                <h2>4</h2>
                <h2>
                    Acceptance of the Principle<br>
                    of Non-Violence by the Majority<br>
                    of People on Earth
                </h2>
                We call on spiritual leaders, teachers, and pastors
                to actively teach the principle of non-violence,

                which in Hinduism is called “ahimsa”, in Christianity “Thou shalt not kill” (“do not kill”) and has

                equivalents in all the world religions.
                <br><br>
                So that in a few years approximately 5 billion
                people on earth could accept this principle as
                an important one in their lives. So that they can
                take it as a spiritual vow in front of their altars and
                saints, and take an oath, a commitment never to
                break it.
            </div>
            <div class="language-container lan-ru ">
                <h2>4</h2>
                <h2>
                    Принятие принципа<br>
                    ненасилия большинством<br>
                    людей на Земле
                </h2>
                Мы призываем духовных лидеров, учителей,

                пастырей активно обучать принципу ненасилия, который в индуизме называется «ахимса», в христианстве— «не убий» («не убивай»)

                и имеет аналоги во всех мировых религиях.
                <br><br>
                Чтобы через несколько лет примерно 5 миллиардов людей на земле смогли принять этот

                принцип как важный в своей жизни. Чтобы они
                могли принять его, как духовный обет перед

                своими алтарями, святыми и дать клятву никогда не нарушать его.
            </div>

        </div>
    </div>
    <div class="content-container">
        <div class="duo-language-container flex">
            <div class="language-container lan-en">
                <h2>5</h2>
                <h2>
                    Regular meetings<br>
                    and discussions
                </h2>
                We call on all spiritual leaders, teachers, and
                pastors to meet regularly to continue to discuss
                these issues, to meditate together or pray
                together more often with their followers until the
                situation on earth changes and lasting peace is
                established, until the people of the whole world
                accept the principle of ahimsa (non-violence) as
                one of the main values of their life.
                <br><br>
                We appeal not only to spiritual leaders of all
                traditions and religions, but also to individual
                spiritual seekers, ordinary people who care about
                the future world they and their children will
                live in.
            </div>
            <div class="language-container lan-ru ">
                <h2>5</h2>
                <h2>
                    Регулярные встречи<br>
                    и обсуждения
                </h2>
                Мы призываем всех духовных лидеров, учителей, пастырей регулярно собираться вместе,

                чтобы продолжать обсуждать эти вопросы,

                почаще совместно медитировать или молиться вместе со своими последователями, до тех

                пор пока на земле не изменится обстановка и не установится прочный мир. Пока люди

                всего мира не примут принцип ненасилия как
                одну из главных ценностей своей жизни.
                <br><br>
                Мы призываем не только духовных лидеров,
                но и отдельных духовных искателей, простых
                людей, которым небезразлично, в каком мире
                жить в будущем им и их детям.
            </div>

        </div>
    </div>
    <div class="content-container">
        <div class="container-with-img flex">

            <div class="text-box flex flex-col duo-language-container">
                <div class="language-container language-container-col lan-en">
                    <h2>
                        One million peace-giving practices
                    </h2>
                    In the near future, we aim to hold one million peace-giving
                    practices to bring peace to the world! We believe that the
                    restoration of peace is possible only by our common efforts.
                </div>
                <div class="language-container language-container-col lan-ru">
                    <h2>
                        Oдин миллион

                        умиротворяющих практик
                    </h2>
                    Мы намерены провести один миллион умиротворяющих
                    практик во благо установления мира на Земле. Мы верим,
                    что восстановление мира возможно только нашими общими
                    усилиями.
                </div>
            </div>
            <div class="img-box pranam-img-right">
                <img src="../../../assets/Images/Crop/pranam.png" alt="pranam">
            </div>
        </div>
    </div>
    <div class="content-container flex flex-col">
        <h2 class="header-en">We invite you to join!</h2>
        <h2 class="header-ru">Приглашаем вас присоединиться!</h2>
        <div class="invite-urls duo-language-container flex">
            <div class="invite-block">
                <div class="invite-deskr">
                    <div class="lan-en">Instagram</div>
                    <div class="lan-ru">Инстаграм</div>
                </div>
                <div class="invite-qr mt-10">
                    <img src="../../../assets/QR/inst.PNG" alt="inst" class="qr-img">
                </div>
                <div class="invite-deskr">
                    <div class="lan-en my-10 underline">www.instagram.com/yogisforpeace</div>
                </div>
            </div>
            <div class="invite-block">
                <div class="invite-deskr">
                    <div class="lan-en">Information channel</div>
                    <div class="lan-ru">Информационный канал</div>
                </div>
                <div class="invite-qr mt-10">
                    <img src="../../../assets/QR/info-ch.PNG" alt="inst" class="qr-img">
                </div>
                <div class="invite-deskr">
                    <div class="lan-en my-10 underline">t.me/yogisforpeace_life</div>
                </div>
            </div>
            <div class="invite-block">
                <div class="invite-deskr">
                    <div class="lan-en">Practice counting channel</div>
                    <div class="lan-ru">Канал подсчета практик</div>
                </div>
                <div class="invite-qr mt-10">
                    <img src="../../../assets/QR/practice-count.PNG" alt="inst" class="qr-img">
                </div>
                <div class="invite-deskr">
                    <div class="lan-en my-10 underline">t.me/yogisforpeace</div>
                </div>
            </div>
        </div>
    </div>
</div>