/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
@import 'intl-tel-input/build/css/intlTelInput.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Arimo", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
ngx-intl-tel-input {
  margin: 0 25px !important;
  width: 100%;
  // max-width: 440px;
}
.iti {
  display: flex;
}
ngx-intl-tel-input input {
  height: 50px;
  margin-bottom: 0;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ba7d18;
  width: 100%;
  // max-width: 440px;
  border-radius: 30px;
  font-size: 23px !important;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: transparent !important;
}
ngx-intl-tel-input input:hover {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}
.iti__selected-flag {
  transform: scale(1.5);
  padding: 0 0 0 25px;
}
.iti.separate-dial-code input {
  padding-left: 130px !important;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
// ul li {
//     list-style: none;
// }
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}
.header.small {
  height: 65px;
  .registration-button {
    height: 42px;
    padding: 0 35px;
  }
  .logo__container-little {
    height: 45px;
    width: 45px;
  }
}
.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42a948;
}
.error {
  color: #ff0000;
}
.success {
  color: green;
}
.contact-message {
  text-align: center;
}
input.ng-invalid.ng-touched {
  border: 1px solid #ff0000;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #cddaee;
  border: 0 white solid;
  border-radius: 7px;
}
.sup_text {
  font-size: 24px;
  color: #ba7d18;
  font-weight: 500;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  z-index: 1000;
  margin: 10px 0 !important;
  z-index: 100;
  background-color: #f1eff9;
  padding: 0 15px;
}
.b-txt_wrap {
  font-size: 15px;
  color: #ba7d18;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.2;
  word-break: break-all;
}
.support {
  height: auto;
  background-color: #f1eff9;
  p {
    margin-bottom: 0 !important;
  }
}
.head-section_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.lotus_w {
  margin-top: -35px !important;
  margin-bottom: 0 !important;
}
.divder {
  position: absolute;
  top: 48px;
}
.ln_wr {
  display: flex;
  justify-content: center;
}
.footer {
  height: 240px;
  padding: 30px 0 50px 0;
  background: rgb(149, 10, 39);
  background: linear-gradient(0deg, rgba(149, 10, 39, 1) 0%, rgba(198, 23, 88, 1) 100%);
}
.req_wrap {
  display: flex;
}
.tw_wrap {
  display: flex;
  &.fst {
    width: 48%;
    .bk_wrap.f {
      width: 54%;
    }
  }
  &.scd {
    width: 33%;
  }
  &.last {
    width: 19%;
    .bk_wrap {
      justify-content: center;
      flex-direction: column;
      width: 100%;
      img {
        margin-bottom: 12px;
      }
      .divider_sc {
        display: none;
      }
    }
  }
}
.divider_sc {
  position: absolute;
  right: 0;
  height: 80%;
}
.bk_wrap {
  display: flex;
  position: relative;
  padding: 20px 22px;
  align-items: center;
  margin-top: 48px;
}
.b-im_wrap {
  margin-right: 21px !important;
}
.btn_t_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 9px;
  background-image: linear-gradient(260deg, #ebd385 0%, #ebd385 11%, #b7832b 43%, #edcd7b 73%, #b7832b 100%);
  cursor: pointer;
}
.btn_custom {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 9px;
  font-size: 27px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto Slab";
  padding: 0 30px 0 16px;
  img {
    height: 32px;
    margin-right: 17px;
  }
  &.telegram {
    background-image: linear-gradient(0deg, #950927 18%, #950927 31%, #d51b65 100%);
    height: 42px;
    width: calc(100% - 6px);
    z-index: 1;
  }
  &.instagram {
    background-image: linear-gradient(260deg, #ebd385 0%, #ebd385 11%, #b7832b 43%, #edcd7b 73%, #b7832b 100%);
  }
}
.btn_t_wrap.for {
  line-height: 1;
  margin: 20px 0 40px 0;
  width: 94%;
  z-index: 70;
}
.content-footer-button {
  z-index: 20;
}
.content-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}
@media (max-width: 1620px) {
  .bk_wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: auto;
  }
  .tw_wrap.scd {
    width: auto;
  }
  .tw_wrap.last {
    width: auto;
  }
  .req_wrap {
    justify-content: center;
  }
  .tw_wrap.fst {
    width: auto;
  }
  p.b-im_wrap {
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    img {
      object-fit: scale-down;
      height: 55px;
      width: 100px;
    }
  }
  .tw_wrap.last .bk_wrap {
    justify-content: unset;
    img {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1510px) {
  ngx-intl-tel-input input {
    font-size: 25px !important;
  }
}
@media (max-width: 1260px) {
  ngx-intl-tel-input input {
    font-size: 21px !important;
  }
}
@media (max-width: 1000px) {
  .header.small {
    .menu_wrap {
      flex-direction: row;
      align-items: baseline;
    }
  }
  // ngx-intl-tel-input {
  //   margin: 5px auto !important;
  // }
  ngx-intl-tel-input input {
    font-size: 25px !important;
  }
}
@media (max-width: 950px) {
  ngx-intl-tel-input {
    margin: 0 10px !important;
  }
  .input-form-gold {
    margin: 0 10px;
  }
  .req_wrap {
    flex-direction: column;
  }
  .tw_wrap {
    width: 100%;
  }
  .bk_wrap {
    flex-direction: row;
    width: 50%;
    margin-top: 0;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: 50%;
  }
  .divider_sc.sc {
    display: none;
  }
  .tw_wrap.last {
    width: 50%;
  }
  .tw_wrap.last .bk_wrap .divider_sc {
    display: block;
  }
  .bk_wrap.f {
    margin-top: 48px;
  }
  .bk_wrap.s {
    margin-top: 48px;
  }
}
@media (max-width: 786px) {
  ngx-intl-tel-input {
    margin: 6px 0 !important;
  }
}
@media (max-width: 774px) {
  .btn_t_wrap.for {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .header.small {
    height: 97px;
    .menu_wrap {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
@media (max-width: 620px) {
  .btn_t_wrap.for {
    width: 100%;
    height: 78px;
    .btn_custom.telegram {
      height: 70px;
    }
  }
  .tw_wrap {
    width: 100%;
    flex-direction: column;
  }
  .bk_wrap {
    width: 100%;
  }
  .bk_wrap.s {
    margin-top: 0;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: 100%;
  }
  .divider_sc {
    display: none;
  }
  .tw_wrap.last {
    width: 100%;
    .bk_wrap {
      align-items: center;
    }
  }
  .tw_wrap.last .bk_wrap .divider_sc {
    display: none;
  }
  p.b-im_wrap {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 550px) {
  ngx-intl-tel-input input {
    height: 50px;
    border-radius: 25px;
  }
  .header.small {
    .m_show {
      display: none;
    }
    .m_hide {
      display: flex;
    }
    .mob_h-wrap {
      width: unset;
    }
    .header-inner.flex.justify-between {
      flex-direction: row;
      align-items: center;
    }
    .menu_wrap div:not(.w_wrap) {
      padding: 0 15px 5px 15px !important;
    }
    .head_in {
      height: unset;
    }
  }
}
@media (max-width: 480px) {
  .header.small {
    .header-inner.header-inner-text {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 400px) {
  .header.small {
    .mob_h-wrap {
      display: none;
    }
    .menu_wrap {
      flex-direction: column;
      align-items: center;
    }
    .header-inner.flex.justify-between {
      justify-content: center;
    }
  }
}
@media (max-width: 350px) {
  .header.small {
    height: 85px;
    .registration-button {
      height: 35px;
      padding: 0 15px;
      font-size: 18px;
    }
    .head_in {
      padding: 5px 0;
    }
  }
}
