/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
@import "intl-tel-input/build/css/intlTelInput.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Arimo", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
ngx-intl-tel-input {
  margin: 0 25px !important;
  width: 100%;
  // max-width: 440px;
}
.iti {
  display: flex;
}
ngx-intl-tel-input input {
  height: 50px;
  margin-bottom: 0;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ba7d18;
  width: 100%;
  // max-width: 440px;
  border-radius: 30px;
  font-size: 23px !important;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}
.nav-wrapper {
  width: 60px;
  text-align: center;
  &.mobile {
    display: none;
  }
}
.sl-nav {
  display: inline;
  padding: 0 !important;
}
.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}
ul.ut {
  padding-bottom: 10px;
}
.header.small {
  &.rw {
    .sl-nav li {
      padding-bottom: 0;
    }
  }
}
li.lil:hover {
  background: #ebe7e7 !important;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -10px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 8;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  padding-left: 5px;
}
.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}
.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.flag-ru {
  background: url(assets/Icons/Flag_of_Russia.svg.webp);
  background-size: cover;
  background-position: center center;
}
.flag-ua {
  background: url(assets/Icons/ua.svg);
  background-size: cover;
  background-position: center center;
}
.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=");
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: transparent !important;
}
ngx-intl-tel-input input:hover {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}
.iti__selected-flag {
  transform: scale(1.5);
  padding: 0 0 0 25px;
}
.iti.separate-dial-code input {
  padding-left: 130px !important;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
// ul li {
//     list-style: none;
// }
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}
.header.small {
  height: 65px;
  .registration-button {
    height: 42px;
    padding: 0 35px;
  }
  .logo__container-little {
    height: 45px;
    width: 45px;
  }
}
.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42a948;
}
.error {
  color: #ff0000;
}
.success {
  color: green;
}
.contact-message {
  text-align: center;
}
input.ng-invalid.ng-touched {
  border: 1px solid #ff0000;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 7px;
}
.sames {
  flex-direction: column;
}
::-webkit-scrollbar-thumb {
  background-color: #cddaee;
  border: 0 white solid;
  border-radius: 7px;
}
.sup_text {
  font-size: 24px;
  color: #ba7d18;
  font-weight: 500;
  font-family: "Roboto", sans-serif !important;
  position: absolute;
  z-index: 1000;
  margin: 10px 0 !important;
  z-index: 100;
  background-color: #f1eff9;
  padding: 0 15px;
}
.b-txt_wrap {
  font-size: 15px;
  color: #ba7d18;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.2;
  word-break: break-all;
}
.support {
  height: auto;
  background-color: #f1eff9;
  p {
    margin-bottom: 0 !important;
  }
}
.head-section_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.lotus_w {
  margin-top: -35px !important;
  margin-bottom: 0 !important;
}
.divder {
  position: absolute;
  top: 48px;
}
.ln_wr {
  display: flex;
  justify-content: center;
}
.ml_wrapper {
  max-width: 190px;
  margin: 0 auto;
  cursor: pointer;
}
.footer {
  height: 240px;
  padding: 30px 0 50px 0;
  background: rgb(149, 10, 39);
  background: linear-gradient(
    0deg,
    rgba(149, 10, 39, 1) 0%,
    rgba(198, 23, 88, 1) 100%
  );
}
.req_wrap {
  display: flex;
}
.tw_wrap {
  display: flex;
  &.fst {
    width: 48%;
    .bk_wrap.f {
      width: 54%;
    }
  }
  &.scd {
    width: 33%;
  }
  &.last {
    width: 19%;
    .bk_wrap {
      justify-content: center;
      flex-direction: column;
      width: 100%;
      img {
        margin-bottom: 12px;
      }
      .divider_sc {
        display: none;
      }
    }
  }
}
.divider_sc {
  position: absolute;
  right: 0;
  height: 80%;
}
.bk_wrap {
  display: flex;
  position: relative;
  padding: 20px 22px;
  align-items: center;
  margin-top: 48px;
}
.b-im_wrap {
  margin-right: 21px !important;
}
.btn_t_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 9px;
  background-image: linear-gradient(
    260deg,
    #ebd385 0%,
    #ebd385 11%,
    #b7832b 43%,
    #edcd7b 73%,
    #b7832b 100%
  );
  cursor: pointer;
}
.btn_custom {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 9px;
  font-size: 27px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto Slab";
  padding: 0 30px 0 16px;
  img {
    height: 32px;
    margin-right: 17px;
  }
  &.telegram {
    background-image: linear-gradient(
      0deg,
      #950927 18%,
      #950927 31%,
      #d51b65 100%
    );
    height: 42px;
    width: calc(100% - 6px);
    z-index: 1;
  }
  &.instagram {
    background-image: linear-gradient(
      260deg,
      #ebd385 0%,
      #ebd385 11%,
      #b7832b 43%,
      #edcd7b 73%,
      #b7832b 100%
    );
  }
}
.btn_t_wrap.for {
  line-height: 1;
  margin: 20px 0 40px 0;
  width: 94%;
  z-index: 70;
}
.content-footer-button {
  z-index: 20;
}
.outer_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  &.back {
    background: url(assets/Images/art2.jpg);
    background-repeat: round;
    padding: 0 0 20px 0;
    height: 100%;
  }
  &.back_s {
    flex-direction: column;
    background: url(assets/Images/4ss.png);
    &.pd {
      background: url(assets/Images/gr.png);
    }
    &.blue {
      background: url(assets/Images/blueb.png);
      padding-top: 50px;
      .cont_img {
        width: 40%;
        margin-right: 40px;
        margin-left: 0;
      }
    }
    padding: 0 0 30px 0;
    &.pad {
      padding-top: 30px;
      .cont {
        margin-left: auto;
      }
    }
  }
}
p.pr_nx {
  margin-right: 20px;
  cursor: pointer;
  &.rot {
    margin-right: 0;
    margin-left: 20px;
    transform: rotate(180deg);
  }
  img.qarr {
    width: 40px;
    height: 40px;
    max-width: unset;
    max-height: unset;
  }
}
p.work_item {
  max-width: initial;
  border-radius: 20px;
  height: fit-content;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  &.last {
    margin-right: 0;
  }
}
.t_large {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.gen_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 0 20px;
}
.sub_line {
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  span {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }
}
p.img_wrap {
  display: flex;
  justify-content: center;
  height: 55vh;
  margin: 0 auto;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.bn_gr {
  width: 420px;
  height: 87px;
  border-radius: 44px;
  background-color: #91358e;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  &.wide {
    width: auto;
    height: 95px;
    padding: 0 20px;
  }
}
.header_cs {
  font-size: 45px;
  line-height: 1;
  color: #91358e;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: -3px;
  margin: 40px 0 !important;
  &.pointer {
    cursor: pointer;
  }
}
.works_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cont_f {
  display: flex;
  position: relative;
  &.col {
    flex-direction: column;
  }
}
.cont {
  width: 61%;
}
.cont_img {
  display: flex;
  align-items: center;
  width: 39%;
  margin-left: 20px;
  &.top {
    align-items: flex-start;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
p.linee {
  max-width: 70%;
  margin: 10px auto 30px auto;
  &.bt {
    margin: 30px auto 10px auto;
  }
}
.cont_img_lg {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
p.abs_img {
  margin: 0;
}
.header-inner.header-inner-button.boreder {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 999px;
  background-color: #b21243;
  padding: 0 3px !important;
  margin: 0 15px;
  &.grad {
    margin: 0 15px 0 0;
    background-image: linear-gradient(
      260deg,
      #ebd385 0%,
      #ebd385 11%,
      #b7832b 43%,
      #edcd7b 73%,
      #b7832b 100%
    );
    width: 300px;
    &.xl {
      width: auto;
    }
    button {
      font-size: 22px;
      background: transparent;
      width: 100%;
      &.rd {
        font-size: 40px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 500;
        font-family: "Roboto";
        border-radius: 40px;
        width: auto;
      }
    }
  }
  button {
    padding: 0 30px;
    height: 64px;
    border: 1px solid #fff;
  }
}
.cs_right_cont {
  bottom: 12%;
  max-width: 55%;
  bottom: 15%;
  left: 7%;
}
.cs_head-wrap {
  padding-left: 7%;
  padding-top: 30px;
}
.titl_lg {
  font-family: "Playfair Display", serif;
  font-size: 6em;
  color: #b88214;
  font-weight: 700;
  line-height: 1;
  &.sm {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    &.mar {
      margin-bottom: 50px;
    }
  }
}
p.mg {
  margin-bottom: 30px;
}
p.dk_center {
  font-size: 3.5em;
  color: #1a171b;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 1.5em;
}
.wrap_sn {
  display: flex;
  .sign_cs {
    width: 5%;
  }
  .cs_tx_wt {
    width: 95%;
  }
}
.cs_dt {
  font-size: 2.5em;
  color: #b88214;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1;
  span {
    font-size: 1.1em;
    font-weight: bold;
  }
  &.center {
    text-align: center;
  }
}
.cs_fr {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #1a171b;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1;
}
.cs_t_bl {
  font-size: 2.5em;
  color: #000f9f;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 1;
  span {
    color: #000f9f;
    font-weight: 700;
    font-family: "Roboto";
    line-height: 1;
  }
}
.cs_t_sec {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #1a171b;
  font-weight: 700;
  font-family: "Roboto";
}
.cs_t_gn {
  font-size: 2.5em;
  color: #1a171b;
  font-weight: 700;
  line-height: 1;
  font-family: "Playfair Display", serif;
}
.cs_top_cont-wrap {
  margin-top: -170px;
}
.cs_dq {
  height: 130px;
}
.outer_wrap_cs {
  bottom: 9%;
  right: 14%;
  &.relative {
    bottom: unset;
    right: unset;
    margin: 6em auto;
    width: fit-content;
    .header-inner.header-inner-button.boreder.grad.xl {
      width: fit-content;
    }
  }
}
.blue_block_cs {
  max-width: 80%;
  margin: 0 auto;
  padding: 2.5em;
  border-radius: 35px;
  background: url(assets/Images/course/stblue.png);
  background-size: contain;
  &.transp {
    background: transparent;
    padding: 0 2.5em;
  }
}
.lin_cs {
  height: 2px;
  width: 80%;
  margin: 3.4em auto;
  background-color: #b88214;
}
.cs_tx_wt {
  font-size: 2.5em;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1.1;
  &.bot {
    margin-bottom: 1.4em;
  }
  span {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
  }
}
.buttfl {
  position: absolute;
  top: -24px;
  left: -58px;
}
.mg-12 {
  margin-top: 40px;
}
.mg-2 {
  margin-top: 200px;
}
.topic_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topic_img {
  margin-left: -50px;
}
.topic_item {
  width: 50%;
  display: flex;
  align-items: center;
  height: 249px;
  border-radius: 40px;
  filter: drop-shadow(0.279px -3.99px 13px rgba(71, 72, 74, 0.34));
  background-color: #ffffff;
  margin: 0 20px;
}
p.topic_txt {
  font-size: 3em;
  line-height: 1.3;
  color: #000;
  font-weight: 400;
  font-family: "Roboto";
  margin: 0 auto;
  text-align: center;
  span {
    font-size: 1em;
    line-height: 1.3;
    color: #000;
    font-weight: 600;
    font-family: "Roboto";
  }
}
.topic_cs_wrap {
  margin: 80px 0;
}
.topics_wrapper {
  margin: 108px 0;
}
.dk_cs {
  font-size: 3em;
  line-height: 1;
  color: #000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  &.italic {
    font-style: italic;
  }
  &.sky_ {
    color: #0063a8;
  }
  &.sm {
    font-size: 2.5em;
  }
}
p.cs_log {
  width: 100px;
  margin: 0 50px 10px 10px;
}
.cs-gen_wrapper {
  background: url(assets/Images/course/strip.png);
  background-size: contain;
}
.cs_container.main {
  // margin: 0 20px;
  background: url(assets/Images/course/main_back.png);
  background-size: cover;
}
.video_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 500px;
  box-shadow: 0px 0px 12px #c1bdbd;
  margin: 80px auto;
}
.art-cont_wrapper {
  box-shadow: 10px 0px 24px #aba6a6;
  max-width: 1640px;
  margin: 0 auto;
}
.cs_blank {
  max-height: initial;
  height: auto;
  &.trp {
    box-shadow: none;
    border: none;
    margin: 4em auto;
  }
  &.stat {
    min-height: 1150px;
    background: url(assets/Images/course/stat.png);
    background-size: cover;
  }
  &.waves {
    min-height: 930px;
    background: url(assets/Images/course/waves.png);
    background-size: cover;
    margin-top: -360px;
    padding-top: 340px;
    margin-bottom: 50px;
    padding-bottom: 70px;
  }
}
.sml_wr {
  width: 10%;
  margin: 0 20px 0 0 !important;
}
.cs_tx_tw {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto";
  text-align: center;
  line-height: 1.2;
  &.gold {
    color: #b88214;
  }
  &.no-centr {
    text-align: unset;
    margin: 0 !important;
    width: 90%;
  }
}
.row_cs_wrap {
  display: flex;
  width: 100%;
}
.cs_block {
  width: 50%;
  padding: 25px 30px 15px 30px;
  border-top: 2px solid #b88214;
  &.first_ {
    border-top: none;
  }
  &.bl_left {
    background-color: #f0f2fb;
    border-right: 2px solid #b88214;
  }
  &.bl_right {
    background-color: #fff;
  }
}
.cs_block_top {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  min-height: 90px;
  margin-bottom: 20px;
}
.li_cs_item {
  font-size: 2em;
  color: #0a0a10;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1.2;
  span {
    font-weight: 700;
    font-family: "Roboto";
    line-height: 1.2;
  }
}
.craph_tb {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 35px;
  background-size: contain;
  overflow: hidden;
  box-shadow: 0px 0px 16px #aba5a5;
}
.cs_d_wra {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.wei-cs_wrap {
  padding: 0 65px;
}
.cs_subhead {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  line-height: 1;
  span {
    font-family: "Roboto";
    color: #b88214;
    line-height: 1;
    font-weight: 700;
  }
}
.genn {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 22px;
  color: #2f618b;
  margin-bottom: 36px !important;
  span {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    font-size: 22px;
    color: #7b0d69;
  }
  &.center {
    text-align: center;
  }
}
.line_rap {
  display: flex;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  bottom: -70px;
  img {
    max-width: 100%;
    z-index: 1;
  }
}
li.genn {
  margin-bottom: 10px !important;
}
.rel {
  position: relative;
}
.back_s.pd {
  padding: 70px 0 30px 0;
}
ul.l_gen {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 36px;
}
.less {
  .cont {
    width: 55%;
  }
  .cont_img {
    max-width: 45%;
  }
}
.content-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}
.logo__container {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
  //background: url('../../../assets/Logo/yogis-for-peace-logo.svg') no-repeat;
}
.header-img-logo {
  color: #ba7d18;
  font-size: 54px;
  padding: 24px 0 38px 0;
  line-height: 1;
}
@media (max-width: 1620px) {
  .bk_wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: auto;
  }
  .tw_wrap.scd {
    width: auto;
  }
  .tw_wrap.last {
    width: auto;
  }
  .req_wrap {
    justify-content: center;
  }
  .tw_wrap.fst {
    width: auto;
  }
  p.b-im_wrap {
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    img {
      object-fit: scale-down;
      height: 55px;
      width: 100px;
    }
  }
  .tw_wrap.last .bk_wrap {
    justify-content: unset;
    img {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1510px) {
  ngx-intl-tel-input input {
    font-size: 25px !important;
  }
}
@media (max-width: 1410px) {
  .coln {
    flex-direction: column-reverse;
  }
  .cont_img.ful {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .less.carousel .cont {
    width: auto;
    margin-top: 30px;
  }
}
@media (max-width: 1260px) {
  ngx-intl-tel-input input {
    font-size: 21px !important;
  }
  .bn_gr.wide {
    height: 70px;
    font-size: 22px;
  }
  .gen_wrap.pad_md {
    padding: 0 20px;
    &.add {
      padding: 20px 20px 0 20px;
    }
  }
  .cont_img_lg {
    img {
      max-height: 100%;
    }
    left: -35px;
  }
}
@media (max-width: 1100px) {
  .cont_img_lg {
    left: -160px;
  }
}
@media (max-width: 1000px) {
  .bn_gr.wide.cons {
    margin: 10px auto !important;
  }
  .sames {
    .genn {
      text-align: center;
    }
  }
  .header.small {
    .menu_wrap {
      flex-direction: row;
      align-items: baseline;
    }
  }
  .line_rap {
    bottom: unset;
  }
  .cont_img_lg {
    display: none;
  }
  .header_cs {
    font-size: 38px;
    margin: 30px 0 !important;
  }
  .cont_f {
    flex-direction: column-reverse;
    &.plain {
      flex-direction: column;
    }
    &.plains {
      flex-direction: column;
    }
  }
  .cont {
    width: auto;
  }
  .cont_img {
    width: 52%;
    margin: 0 auto 20px auto;
  }
  .genn {
    margin-bottom: 25px !important;
  }
  .outer_wrap.back_s.less.blue {
    padding-top: 0;
  }
  .cont_f.plain {
    .cont_img.top {
      width: auto !important;
      margin: 20px auto;
    }
    .cont_img {
      max-width: 60% !important;
    }
    .cont {
      width: auto;
    }
  }
  .outer_wrap.back_s.blue {
    .plains {
      .cont_img {
        margin: 30px auto;
      }
    }
  }
  .cont_f.plains {
    .cont_img {
      width: auto !important;
    }
    .cont_img {
      max-width: 60% !important;
    }
    .cont {
      width: auto;
    }
  }
  // ngx-intl-tel-input {
  //   margin: 5px auto !important;
  // }
  ngx-intl-tel-input input {
    font-size: 25px !important;
  }
}
@media (max-width: 950px) {
  ngx-intl-tel-input {
    margin: 0 10px !important;
  }
  .input-form-gold {
    margin: 0 10px;
  }
  .req_wrap {
    flex-direction: column;
  }
  .tw_wrap {
    width: 100%;
  }
  .bk_wrap {
    flex-direction: row;
    width: 50%;
    margin-top: 0;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: 50%;
  }
  .divider_sc.sc {
    display: none;
  }
  .tw_wrap.last {
    width: 50%;
  }
  .tw_wrap.last .bk_wrap .divider_sc {
    display: block;
  }
  .bk_wrap.f {
    margin-top: 48px;
  }
  .bk_wrap.s {
    margin-top: 48px;
  }
}
@media (max-width: 900px) {
  .sl-nav li:hover ul {
    right: -60px;
  }
  .nav-wrapper {
    &.mobile {
      display: flex;
      position: absolute;
      top: 20px;
      left: 30px;
    }
    &.desktop.respons {
      display: none;
    }
  }
  .t_large {
    font-size: 45px;
  }
  .header.small {
    &.rw {
      .sl-nav li:hover ul {
        right: 10px;
      }
    }
  }
  .nav-wrapper.cs {
    width: 80px;
  }
}
@media (max-width: 786px) {
  .header_cs.pointer {
    font-size: 26px;
    margin: 22px 0 !important;
  }
  ngx-intl-tel-input {
    margin: 6px 0 !important;
  }
  .less .cont_img.ful {
    max-width: 85%;
  }
  p.img_wrap {
    height: auto;
  }
}
@media (max-width: 774px) {
  .btn_t_wrap.for {
    width: 100%;
  }
  .col_mmd {
    flex-direction: column;
  }
  p.work_item {
    margin-right: 0;
  }
}
@media (max-width: 660px) {
  .cont_f.plain .cont_img.top {
    max-width: 70%;
  }
  .header.small {
    height: 97px;
    .menu_wrap {
      flex-direction: column;
      align-items: flex-end;
    }
    &.rw {
      .menu_wrap {
        flex-direction: row;
        align-items: center;
        .w_wrap {
          margin-bottom: 0;
        }
      }
    }
  }
  .sub_line {
    font-size: 25px;
    line-height: 1;
  }
}
@media (max-width: 620px) {
  .ml_wrapper {
    max-width: 120px;
  }
  .btn_t_wrap.for {
    width: 100%;
    height: 78px;
    .btn_custom.telegram {
      height: 70px;
    }
  }
  .tw_wrap {
    width: 100%;
    flex-direction: column;
  }
  .bk_wrap {
    width: 100%;
  }
  .less .cont_img.ful {
    max-width: 80%;
  }
  .bk_wrap.s {
    margin-top: 0;
  }
  .tw_wrap.fst .bk_wrap.f {
    width: 100%;
  }
  .divider_sc {
    display: none;
  }
  .tw_wrap.last {
    width: 100%;
    .bk_wrap {
      align-items: center;
    }
  }
  .tw_wrap.last .bk_wrap .divider_sc {
    display: none;
  }
  p.b-im_wrap {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 550px) {
  .t_large {
    font-size: 30px;
  }
  .sub_line {
    font-size: 20px;
  }
  .cont_img {
    width: 75%;
  }
  .header_cs {
    font-size: 30px;
    margin: 25px 0 !important;
  }
  .genn {
    font-size: 18px;
  }
  .genn span {
    font-size: 18px;
  }
  .outer_wrap.back_s {
    padding: 0 0 20px 0;
  }
  .back_s.pd {
    padding: 50px 0 10px 0;
  }
  .header_cs.pointer {
    font-size: 15px;
    margin: 20px 0 !important;
  }
  ngx-intl-tel-input input {
    height: 50px;
    border-radius: 25px;
  }
  .nav-wrapper.forum {
    align-self: flex-end;
    margin-top: 10px;
  }
  .header.small {
    .m_show {
      display: none;
    }
    .m_hide {
      display: flex;
    }
    .mob_h-wrap {
      width: unset;
    }
    .header-inner.flex.justify-between {
      flex-direction: row;
      align-items: center;
    }
    .menu_wrap div:not(.w_wrap) {
      padding: 0 15px 5px 15px !important;
    }
    .head_in {
      height: unset;
    }
  }
}
@media (max-width: 480px) {
  .header.small {
    .header-inner.header-inner-text {
      margin-bottom: 0;
    }
  }
  .less .cont_img.ful {
    max-width: 75%;
  }
}
@media (max-width: 400px) {
  .header.small {
    .mob_h-wrap {
      display: none;
    }
    .menu_wrap {
      flex-direction: column;
      align-items: center;
    }
    .header-inner.flex.justify-between {
      justify-content: center;
    }
  }
  .t_large {
    font-size: 25px;
  }
  .header_cs {
    font-size: 25px;
    margin: 20px 0 !important;
  }
  .less .cont_img.ful {
    max-width: 70%;
  }
}
@media (max-width: 350px) {
  .header.small {
    height: 85px;
    .registration-button {
      height: 35px;
      padding: 0 15px;
      font-size: 18px;
    }
    .head_in {
      padding: 5px 0;
    }
  }
  .less .cont_img.ful {
    max-width: 65%;
  }
}
