<div class="wrapper thanks">
  <div class="content">
    <div class="text">
      <p class="imn_w"><img src="assets/Images/course/l22.png" alt="logo" /></p>
      <div class="bot_wrap">
        <p class="t_par">Ом, намасте!</p>
      </div>
      <p class="i_smp">
        Приглашаем вас помочь в продвижении<br />Мира и Гармонии на нашей
        Планете
      </p>
      <p class="i_smp mbb">
        Приглашаем вас помочь в продвижении Мира и Гармонии на нашей Планете
      </p>
      <div class="bny_p">
        <p class="sub_y">
          Подписывайтесь на странички движения<br />"Йоги за мир"
        </p>
      </div>
      <div class="bny_p mbb">
        <p class="sub_y">Подписывайтесь на странички движения "Йоги за мир"</p>
      </div>
      <!-- <p class="bnt_er">
        <img src="assets/Images/course/butr.png" alt="logo" />
      </p> -->
      <div class="b1-4_wrap">
        <div class="flex_t">
          <div
            class="flex links"
            (click)="goToURl('https://www.instagram.com/yogisforpeace/')"
          >
            <img
              src="assets/Images/course/in.png"
              alt=""
              class="social-img big"
            />
            <b>{{ "main.follow-life" | translate }}</b>
          </div>
        </div>
        <div class="flex_t">
          <div
            class="flex links"
            (click)="goToURl('https://t.me/yogisforpeace')"
          >
            <img
              src="assets/Images/course/ttr.png"
              alt="telegram"
              class="social-img big"
            />
            <b>{{ "main.read-hews" | translate }}</b>
          </div>
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>
