<div class="wrapper thanks">
  <div class="content">
    <div class="text">
      <p class="imn_w"><img src="assets/Images/course/l22.png" alt="logo" /></p>
      <div class="bot_wrap">
        <p class="t_par">Ом, намасте!</p>
      </div>
      <p class="i_smp">
        Приглашаем вас помочь в продвижении<br />Мира и Гармонии на нашей
        Планете
      </p>
      <p class="i_smp mbb">
        Приглашаем вас помочь в продвижении Мира и Гармонии на нашей Планете
      </p>
      <div class="bny_p">
        <p class="sub_y">
          Подписывайтесь на странички движения<br />"Йоги за мир"
        </p>
      </div>
      <div class="bny_p mbb">
        <p class="sub_y">Подписывайтесь на странички движения "Йоги за мир"</p>
      </div>
      <div class="outer_wrap_cs lss relatives">
        <div class="butt_b_wrap">
          <div class="header-inner header-inner-button boreder grad xl">
            <button
              (click)="goToURl('https://www.instagram.com/yogisforpeace/')"
              class="registration-button rd"
            >
              <img src="assets/Images/course/f2.svg" alt="instagram" />
              <span>Следите за жизнью движения</span>
              <img src="assets/Images/course/f1.svg" alt=">" />
            </button>
          </div>
        </div>
      </div>
      <div class="outer_wrap_cs lss relatives">
        <div class="butt_b_wrap">
          <div class="header-inner header-inner-button boreder grad xl rb">
            <button
              (click)="goToURl('https://t.me/yogisforpeace')"
              class="registration-button rd"
            >
              <img src="assets/Images/course/f3.svg" alt="telegramm" />
              <span>Читайте новости движения</span>
              <img src="assets/Images/course/f1.svg" alt=">" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
